/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.6.4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ToolSettingsAPIService ToolSettingsAPI service
type ToolSettingsAPIService service

type ApiToolSettingsGetToolSettingsRequest struct {
	ctx        context.Context
	ApiService *ToolSettingsAPIService
}

func (r ApiToolSettingsGetToolSettingsRequest) Execute() (*ToolSettingsResponse, *http.Response, error) {
	return r.ApiService.ToolSettingsGetToolSettingsExecute(r)
}

/*
ToolSettingsGetToolSettings Get Tool Settings

Return the effective tool/guardrail settings for the dashboard.

Authentication only on the router: the role decides *how much* rather than
whether, so this is not the deployment-wide gate “require_deployment_operator“
names. A header master key is the deployment credential and reads everything;
a session reads everything only while it operates the deployment, and
otherwise gets the fields without the service endpoints in them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiToolSettingsGetToolSettingsRequest
*/
func (a *ToolSettingsAPIService) ToolSettingsGetToolSettings(ctx context.Context) ApiToolSettingsGetToolSettingsRequest {
	return ApiToolSettingsGetToolSettingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolSettingsResponse
func (a *ToolSettingsAPIService) ToolSettingsGetToolSettingsExecute(r ApiToolSettingsGetToolSettingsRequest) (*ToolSettingsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ToolSettingsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolSettingsAPIService.ToolSettingsGetToolSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tool-settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiToolSettingsListBuiltinGuardrailsRequest struct {
	ctx        context.Context
	ApiService *ToolSettingsAPIService
}

func (r ApiToolSettingsListBuiltinGuardrailsRequest) Execute() (*BuiltInGuardrailCatalog, *http.Response, error) {
	return r.ApiService.ToolSettingsListBuiltinGuardrailsExecute(r)
}

/*
ToolSettingsListBuiltinGuardrails List Builtin Guardrails

List the guardrails this gateway can run itself, for the form that defines one.

Every guardrail “any_guardrail“ reaches over a hosted API, with the
constructor and per-call arguments each one takes, so a guardrail is
configured by picking it and filling typed fields. It is not the whole
library: a guardrail that works by holding model weights in the process
running it belongs in the guardrails service the profiles read beside this one
describes, not here. A parameter names the environment variable that fills it
where one exists, and “requirement_groups“ carries the constraints satisfied
by any of several parameters, which no single required flag can state. This is
the counterpart of
“GET /api/v1/providers/catalog“: the same picker, for a guardrail rather
than a provider, and on the same gate that one takes.

Reaches no service, so there is no unavailable state to report: the answer is
a property of the installed “any_guardrail“, not of any deployment's state.

On the operator router rather than the reader beside it, because it is the
input to a write that stores a vendor credential deployment-wide. The rows
carry secret constructor arguments and name the environment variables this
deployment would otherwise read them from, so this describes how the
deployment is credentialed rather than what a request will have done to it. A
profile *name* is the one thing a caller needs, and the profiles read next
door is where the set of those is published.

Not on “verify_catalog_reader“ either: that plane is a closed set of three
deployment-describing reads a data-plane key may make, and this is a
management read, not one of them.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiToolSettingsListBuiltinGuardrailsRequest
*/
func (a *ToolSettingsAPIService) ToolSettingsListBuiltinGuardrails(ctx context.Context) ApiToolSettingsListBuiltinGuardrailsRequest {
	return ApiToolSettingsListBuiltinGuardrailsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BuiltInGuardrailCatalog
func (a *ToolSettingsAPIService) ToolSettingsListBuiltinGuardrailsExecute(r ApiToolSettingsListBuiltinGuardrailsRequest) (*BuiltInGuardrailCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BuiltInGuardrailCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolSettingsAPIService.ToolSettingsListBuiltinGuardrails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tool-settings/guardrails/catalog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiToolSettingsListGuardrailProfilesRequest struct {
	ctx        context.Context
	ApiService *ToolSettingsAPIService
}

func (r ApiToolSettingsListGuardrailProfilesRequest) Execute() (*GuardrailCatalog, *http.Response, error) {
	return r.ApiService.ToolSettingsListGuardrailProfilesExecute(r)
}

/*
ToolSettingsListGuardrailProfiles List Guardrail Profiles

List the guardrail profiles this deployment's guardrails service has built.

What an organization guardrail's “profile“ may name, with the
“validate_kwargs“ each one accepts, so the dashboard offers a picker and
typed fields instead of a free-text box beside an unrendered dict. The
profiles come from the service itself and the parameter schemas from the
“any_guardrail“ registry; neither is a list kept in this repository. See
`gateway.services.guardrail_catalog`.

Reports “available: false“ with a reason rather than an error when the
service is unconfigured, unreachable, or older than its “/profiles“
endpoint, because a guardrails outage must not also break the page that
configures guardrails.

Read against “guardrails_url“, which is the deployment's own service. An
entry that carries an endpoint of its own is not probed: that URL is
caller-supplied and fetching it here would make this a way to have the
gateway request an address of the caller's choosing.

Not on “verify_catalog_reader“, despite being a catalog read: that plane is
the three deployment-describing reads a data-plane key may also make, and
admitting a key here would let any workspace credential dial the deployment's
guardrails service. This is a management read, so it takes the router's own gate.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiToolSettingsListGuardrailProfilesRequest
*/
func (a *ToolSettingsAPIService) ToolSettingsListGuardrailProfiles(ctx context.Context) ApiToolSettingsListGuardrailProfilesRequest {
	return ApiToolSettingsListGuardrailProfilesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GuardrailCatalog
func (a *ToolSettingsAPIService) ToolSettingsListGuardrailProfilesExecute(r ApiToolSettingsListGuardrailProfilesRequest) (*GuardrailCatalog, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GuardrailCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolSettingsAPIService.ToolSettingsListGuardrailProfiles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tool-settings/guardrails/profiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiToolSettingsTestServiceRequest struct {
	ctx                context.Context
	ApiService         *ToolSettingsAPIService
	service            string
	testServiceRequest *TestServiceRequest
}

func (r ApiToolSettingsTestServiceRequest) TestServiceRequest(testServiceRequest TestServiceRequest) ApiToolSettingsTestServiceRequest {
	r.testServiceRequest = &testServiceRequest
	return r
}

func (r ApiToolSettingsTestServiceRequest) Execute() (*TestServiceResponse, *http.Response, error) {
	return r.ApiService.ToolSettingsTestServiceExecute(r)
}

/*
ToolSettingsTestService Test Service

Structurally validate a URL and probe it for reachability.

Tests the URL in the request body (typically unsaved), so an operator can
verify before saving. The probe is a plain HTTP GET with a short timeout: any
HTTP response means the host is reachable; a connection/timeout/DNS error means
it is not. The operator is trusted (master key), so no SSRF deny-list applies;
only the structural check (http/https + host) runs first.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param service
	@return ApiToolSettingsTestServiceRequest
*/
func (a *ToolSettingsAPIService) ToolSettingsTestService(ctx context.Context, service string) ApiToolSettingsTestServiceRequest {
	return ApiToolSettingsTestServiceRequest{
		ApiService: a,
		ctx:        ctx,
		service:    service,
	}
}

// Execute executes the request
//
//	@return TestServiceResponse
func (a *ToolSettingsAPIService) ToolSettingsTestServiceExecute(r ApiToolSettingsTestServiceRequest) (*TestServiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TestServiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolSettingsAPIService.ToolSettingsTestService")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tool-settings/{service}/test"
	localVarPath = strings.Replace(localVarPath, "{"+"service"+"}", url.PathEscape(parameterValueToString(r.service, "service")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.testServiceRequest == nil {
		return localVarReturnValue, nil, reportError("testServiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.testServiceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiToolSettingsUpdateToolSettingsRequest struct {
	ctx                       context.Context
	ApiService                *ToolSettingsAPIService
	updateToolSettingsRequest *UpdateToolSettingsRequest
}

func (r ApiToolSettingsUpdateToolSettingsRequest) UpdateToolSettingsRequest(updateToolSettingsRequest UpdateToolSettingsRequest) ApiToolSettingsUpdateToolSettingsRequest {
	r.updateToolSettingsRequest = &updateToolSettingsRequest
	return r
}

func (r ApiToolSettingsUpdateToolSettingsRequest) Execute() (*ToolSettingsResponse, *http.Response, error) {
	return r.ApiService.ToolSettingsUpdateToolSettingsExecute(r)
}

/*
ToolSettingsUpdateToolSettings Update Tool Settings

Persist and apply tool/guardrail setting changes.

Uses “model_fields_set“ so an explicit “null“ clears a field while an
omitted field is left unchanged. Operator-gated and standalone-only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiToolSettingsUpdateToolSettingsRequest
*/
func (a *ToolSettingsAPIService) ToolSettingsUpdateToolSettings(ctx context.Context) ApiToolSettingsUpdateToolSettingsRequest {
	return ApiToolSettingsUpdateToolSettingsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolSettingsResponse
func (a *ToolSettingsAPIService) ToolSettingsUpdateToolSettingsExecute(r ApiToolSettingsUpdateToolSettingsRequest) (*ToolSettingsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ToolSettingsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToolSettingsAPIService.ToolSettingsUpdateToolSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tool-settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateToolSettingsRequest == nil {
		return localVarReturnValue, nil, reportError("updateToolSettingsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateToolSettingsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
