/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.6.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"time"
)

// UsageAPIService UsageAPI service
type UsageAPIService service

type ApiUsageCountUsageRequest struct {
	ctx                context.Context
	ApiService         *UsageAPIService
	startDate          *time.Time
	endDate            *time.Time
	userId             *[]string
	status             *string
	statusCode         *int32
	model              *[]string
	endpoint           *string
	provider           *string
	source             *string
	sourceLabel        *string
	apiKeyId           *[]string
	priced             *bool
	tool               *string
	countsTowardBudget *bool
	requestGroupId     *[]string
	workspaceId        *string
}

// Return logs with timestamp &gt;&#x3D; start_date (ISO 8601 or Unix epoch seconds)
func (r ApiUsageCountUsageRequest) StartDate(startDate time.Time) ApiUsageCountUsageRequest {
	r.startDate = &startDate
	return r
}

// Return logs with timestamp &lt; end_date (ISO 8601 or Unix epoch seconds)
func (r ApiUsageCountUsageRequest) EndDate(endDate time.Time) ApiUsageCountUsageRequest {
	r.endDate = &endDate
	return r
}

// Filter to one or more users; repeatable (user_id&#x3D;a&amp;user_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageCountUsageRequest) UserId(userId []string) ApiUsageCountUsageRequest {
	r.userId = &userId
	return r
}

// Filter to a single status: &#39;success&#39;, &#39;error&#39;, or &#39;absorbed&#39; (an attempt a routing policy recovered from, excluded from error_count and request_count)
func (r ApiUsageCountUsageRequest) Status(status string) ApiUsageCountUsageRequest {
	r.status = &status
	return r
}

// Filter to a single failure status code (e.g. 429 for provider rate limits, 402 for missing-pricing rejections). Only error rows carry one, so this filter also restricts to status&#x3D;&#39;error&#39; unless &#39;status&#39; is given explicitly
func (r ApiUsageCountUsageRequest) StatusCode(statusCode int32) ApiUsageCountUsageRequest {
	r.statusCode = &statusCode
	return r
}

// Filter to one or more models; repeatable (model&#x3D;a&amp;model&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageCountUsageRequest) Model(model []string) ApiUsageCountUsageRequest {
	r.model = &model
	return r
}

// Filter to a single endpoint (e.g. &#39;/v1/chat/completions&#39;)
func (r ApiUsageCountUsageRequest) Endpoint(endpoint string) ApiUsageCountUsageRequest {
	r.endpoint = &endpoint
	return r
}

// Filter to a single provider (e.g. &#39;openai&#39;)
func (r ApiUsageCountUsageRequest) Provider(provider string) ApiUsageCountUsageRequest {
	r.provider = &provider
	return r
}

// Filter to a single provenance source (e.g. &#39;gateway&#39; or &#39;claude_code&#39;)
func (r ApiUsageCountUsageRequest) Source(source string) ApiUsageCountUsageRequest {
	r.source = &source
	return r
}

// Filter to a single session/project label (the source_label carried by imported usage)
func (r ApiUsageCountUsageRequest) SourceLabel(sourceLabel string) ApiUsageCountUsageRequest {
	r.sourceLabel = &sourceLabel
	return r
}

// Filter to one or more API key ids; repeatable (api_key_id&#x3D;a&amp;api_key_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageCountUsageRequest) ApiKeyId(apiKeyId []string) ApiUsageCountUsageRequest {
	r.apiKeyId = &apiKeyId
	return r
}

// Filter by token-pricing state: true &#x3D; only rows whose model tokens were priced, false &#x3D; only rows that still need pricing (no cost at all, or tokens that were never metered because the model had no rate). A row charged only for gateway-run tool calls still counts as needing pricing.
func (r ApiUsageCountUsageRequest) Priced(priced bool) ApiUsageCountUsageRequest {
	r.priced = &priced
	return r
}

// Filter to requests that ran a gateway-run tool. &#39;any&#39; matches any tool; a tool name (web_search, code_execution) matches that tool specifically.
func (r ApiUsageCountUsageRequest) Tool(tool string) ApiUsageCountUsageRequest {
	r.tool = &tool
	return r
}

// Filter by budget participation: true &#x3D; only enforced gateway rows, false &#x3D; only imported rows, narrowed past the filter of the same name on GET /api/v1/usage so the total matches what bulk delete and set-price can reach
func (r ApiUsageCountUsageRequest) CountsTowardBudget(countsTowardBudget bool) ApiUsageCountUsageRequest {
	r.countsTowardBudget = &countsTowardBudget
	return r
}

// Filter to the rows of one or more request groups; repeatable (request_group_id&#x3D;a&amp;request_group_id&#x3D;b). A routed request writes one row per attempt, all sharing a request_group_id, so this returns a request&#39;s whole plan: its absorbed attempts and the attempt that served it. Ignore ordering by timestamp and read attempt_position to reconstruct the plan. At most 1000 ids per call.
func (r ApiUsageCountUsageRequest) RequestGroupId(requestGroupId []string) ApiUsageCountUsageRequest {
	r.requestGroupId = &requestGroupId
	return r
}

// Only usage recorded in this workspace.
func (r ApiUsageCountUsageRequest) WorkspaceId(workspaceId string) ApiUsageCountUsageRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r ApiUsageCountUsageRequest) Execute() (*UsageCount, *http.Response, error) {
	return r.ApiService.UsageCountUsageExecute(r)
}

/*
UsageCountUsage Count Usage

Total number of usage logs matching the given filters.

Serves the dashboard paginator's "N of M" total without changing the bare
array contract of “GET /api/v1/usage“. Runs only when the client asks (a
separate request), so the “COUNT(*)“ is not paid on every page load. With
“counts_toward_budget=false“ it also backs the "select all N matching this
filter" affordance for bulk delete / set-price, which touch imported rows only.

That value is the one place this count is narrower than “GET /api/v1/usage“: it
also excludes rows this deployment served itself, so the number an operator
confirms is the number the mutation can reach. The list still pages the
budget-exempt gateway rows it omits.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsageCountUsageRequest
*/
func (a *UsageAPIService) UsageCountUsage(ctx context.Context) ApiUsageCountUsageRequest {
	return ApiUsageCountUsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UsageCount
func (a *UsageAPIService) UsageCountUsageExecute(r ApiUsageCountUsageRequest) (*UsageCount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UsageCount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.UsageCountUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.userId != nil {
		t := *r.userId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", t, "form", "multi")
		}
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.statusCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status_code", r.statusCode, "form", "")
	}
	if r.model != nil {
		t := *r.model
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "model", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "model", t, "form", "multi")
		}
	}
	if r.endpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpoint", r.endpoint, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.sourceLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_label", r.sourceLabel, "form", "")
	}
	if r.apiKeyId != nil {
		t := *r.apiKeyId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", t, "form", "multi")
		}
	}
	if r.priced != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priced", r.priced, "form", "")
	}
	if r.tool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tool", r.tool, "form", "")
	}
	if r.countsTowardBudget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "counts_toward_budget", r.countsTowardBudget, "form", "")
	}
	if r.requestGroupId != nil {
		t := *r.requestGroupId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "request_group_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "request_group_id", t, "form", "multi")
		}
	}
	if r.workspaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace_id", r.workspaceId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageDeleteUsageRowsRequest struct {
	ctx                context.Context
	ApiService         *UsageAPIService
	usageDeleteRequest *UsageDeleteRequest
}

func (r ApiUsageDeleteUsageRowsRequest) UsageDeleteRequest(usageDeleteRequest UsageDeleteRequest) ApiUsageDeleteUsageRowsRequest {
	r.usageDeleteRequest = &usageDeleteRequest
	return r
}

func (r ApiUsageDeleteUsageRowsRequest) Execute() (*UsageDeleteResult, *http.Response, error) {
	return r.ApiService.UsageDeleteUsageRowsExecute(r)
}

/*
UsageDeleteUsageRows Delete Usage Rows

Delete imported usage rows by explicit ids or by filter (standalone).

Target either the current selection (“ids“) or everything matching a filter
(“by_filter: true“ plus optional “source“ / “model“ / “user_id“ /
“status“ / date range / “priced“). Only imported rows
(“counts_toward_budget = false“) are ever removed: enforced gateway rows and
the spend ledger (“users.spend“) are untouched, so a delete can never desync a
budget. Master-key only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsageDeleteUsageRowsRequest
*/
func (a *UsageAPIService) UsageDeleteUsageRows(ctx context.Context) ApiUsageDeleteUsageRowsRequest {
	return ApiUsageDeleteUsageRowsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UsageDeleteResult
func (a *UsageAPIService) UsageDeleteUsageRowsExecute(r ApiUsageDeleteUsageRowsRequest) (*UsageDeleteResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UsageDeleteResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.UsageDeleteUsageRows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.usageDeleteRequest == nil {
		return localVarReturnValue, nil, reportError("usageDeleteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.usageDeleteRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageIngestExternalUsageRequest struct {
	ctx                   context.Context
	ApiService            *UsageAPIService
	externalEventsRequest *ExternalEventsRequest
}

func (r ApiUsageIngestExternalUsageRequest) ExternalEventsRequest(externalEventsRequest ExternalEventsRequest) ApiUsageIngestExternalUsageRequest {
	r.externalEventsRequest = &externalEventsRequest
	return r
}

func (r ApiUsageIngestExternalUsageRequest) Execute() (*ExternalIngestResult, *http.Response, error) {
	return r.ApiService.UsageIngestExternalUsageExecute(r)
}

/*
UsageIngestExternalUsage Ingest External Usage

Ingest a batch of externally-observed usage events (standalone).

Authenticated with either an API key or the master key. Usage binds to the
authenticated principal: an API key attributes to its own user (and stamps its
id on the rows); the master key may name any user via “user_id“. Records
subscription-backed usage (e.g. Claude Code) as usage-log rows tagged with their
“source“, priced at the effective API rate for each event's timestamp.
Imported usage is real cost, but never counts toward budgets or mutates
“users.spend“ (it is retrospective, so it cannot be reserved). Idempotent by
“(source, source_event_id)“. The payload is content-free; any
prompt/completion/tool field is rejected (422), not stored.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsageIngestExternalUsageRequest
*/
func (a *UsageAPIService) UsageIngestExternalUsage(ctx context.Context) ApiUsageIngestExternalUsageRequest {
	return ApiUsageIngestExternalUsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ExternalIngestResult
func (a *UsageAPIService) UsageIngestExternalUsageExecute(r ApiUsageIngestExternalUsageRequest) (*ExternalIngestResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExternalIngestResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.UsageIngestExternalUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/external-events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.externalEventsRequest == nil {
		return localVarReturnValue, nil, reportError("externalEventsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.externalEventsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageListInFlightRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
}

func (r ApiUsageListInFlightRequest) Execute() (*InFlightResponse, *http.Response, error) {
	return r.ApiService.UsageListInFlightExecute(r)
}

/*
UsageListInFlight List In Flight

Requests the gateway is currently serving, longest-running first.

A usage row is written when a request settles, so the log alone cannot answer
"is anything happening right now": on a slow backend, a 30-second local model
call is invisible until it finishes. This reports what is in progress.

Read from an in-memory registry, so it describes the process that answers this
call and not the deployment: behind a load balancer, consecutive polls reach
different otari processes, and there is no deployment-wide total to ask for.
“total“ is the true in-flight count for the answering process even when
“requests“ is capped.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsageListInFlightRequest
*/
func (a *UsageAPIService) UsageListInFlight(ctx context.Context) ApiUsageListInFlightRequest {
	return ApiUsageListInFlightRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return InFlightResponse
func (a *UsageAPIService) UsageListInFlightExecute(r ApiUsageListInFlightRequest) (*InFlightResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InFlightResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.UsageListInFlight")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/in-flight"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageListUsageRequest struct {
	ctx                context.Context
	ApiService         *UsageAPIService
	startDate          *time.Time
	endDate            *time.Time
	userId             *[]string
	status             *string
	statusCode         *int32
	model              *[]string
	endpoint           *string
	provider           *string
	source             *string
	sourceLabel        *string
	apiKeyId           *[]string
	priced             *bool
	tool               *string
	countsTowardBudget *bool
	requestGroupId     *[]string
	workspaceId        *string
	skip               *int32
	limit              *int32
}

// Return logs with timestamp &gt;&#x3D; start_date (ISO 8601 or Unix epoch seconds)
func (r ApiUsageListUsageRequest) StartDate(startDate time.Time) ApiUsageListUsageRequest {
	r.startDate = &startDate
	return r
}

// Return logs with timestamp &lt; end_date (ISO 8601 or Unix epoch seconds)
func (r ApiUsageListUsageRequest) EndDate(endDate time.Time) ApiUsageListUsageRequest {
	r.endDate = &endDate
	return r
}

// Filter to one or more users; repeatable (user_id&#x3D;a&amp;user_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageListUsageRequest) UserId(userId []string) ApiUsageListUsageRequest {
	r.userId = &userId
	return r
}

// Filter to a single status: &#39;success&#39;, &#39;error&#39;, or &#39;absorbed&#39; (an attempt a routing policy recovered from, excluded from error_count and request_count)
func (r ApiUsageListUsageRequest) Status(status string) ApiUsageListUsageRequest {
	r.status = &status
	return r
}

// Filter to a single failure status code (e.g. 429 for provider rate limits, 402 for missing-pricing rejections). Only error rows carry one, so this filter also restricts to status&#x3D;&#39;error&#39; unless &#39;status&#39; is given explicitly
func (r ApiUsageListUsageRequest) StatusCode(statusCode int32) ApiUsageListUsageRequest {
	r.statusCode = &statusCode
	return r
}

// Filter to one or more models; repeatable (model&#x3D;a&amp;model&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageListUsageRequest) Model(model []string) ApiUsageListUsageRequest {
	r.model = &model
	return r
}

// Filter to a single endpoint (e.g. &#39;/v1/chat/completions&#39;)
func (r ApiUsageListUsageRequest) Endpoint(endpoint string) ApiUsageListUsageRequest {
	r.endpoint = &endpoint
	return r
}

// Filter to a single provider (e.g. &#39;openai&#39;)
func (r ApiUsageListUsageRequest) Provider(provider string) ApiUsageListUsageRequest {
	r.provider = &provider
	return r
}

// Filter to a single provenance source (e.g. &#39;gateway&#39; or &#39;claude_code&#39;)
func (r ApiUsageListUsageRequest) Source(source string) ApiUsageListUsageRequest {
	r.source = &source
	return r
}

// Filter to a single session/project label (the source_label carried by imported usage)
func (r ApiUsageListUsageRequest) SourceLabel(sourceLabel string) ApiUsageListUsageRequest {
	r.sourceLabel = &sourceLabel
	return r
}

// Filter to one or more API key ids; repeatable (api_key_id&#x3D;a&amp;api_key_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageListUsageRequest) ApiKeyId(apiKeyId []string) ApiUsageListUsageRequest {
	r.apiKeyId = &apiKeyId
	return r
}

// Filter by token-pricing state: true &#x3D; only rows whose model tokens were priced, false &#x3D; only rows that still need pricing (no cost at all, or tokens that were never metered because the model had no rate). A row charged only for gateway-run tool calls still counts as needing pricing.
func (r ApiUsageListUsageRequest) Priced(priced bool) ApiUsageListUsageRequest {
	r.priced = &priced
	return r
}

// Filter to requests that ran a gateway-run tool. &#39;any&#39; matches any tool; a tool name (web_search, code_execution) matches that tool specifically.
func (r ApiUsageListUsageRequest) Tool(tool string) ApiUsageListUsageRequest {
	r.tool = &tool
	return r
}

// Filter by budget participation, which is not the same question as provenance: true &#x3D; only enforced gateway rows, false &#x3D; every row that never touches a budget, meaning imported usage and also gateway traffic on a budget-exempt key
func (r ApiUsageListUsageRequest) CountsTowardBudget(countsTowardBudget bool) ApiUsageListUsageRequest {
	r.countsTowardBudget = &countsTowardBudget
	return r
}

// Filter to the rows of one or more request groups; repeatable (request_group_id&#x3D;a&amp;request_group_id&#x3D;b). A routed request writes one row per attempt, all sharing a request_group_id, so this returns a request&#39;s whole plan: its absorbed attempts and the attempt that served it. Ignore ordering by timestamp and read attempt_position to reconstruct the plan. At most 1000 ids per call.
func (r ApiUsageListUsageRequest) RequestGroupId(requestGroupId []string) ApiUsageListUsageRequest {
	r.requestGroupId = &requestGroupId
	return r
}

// Only usage recorded in this workspace.
func (r ApiUsageListUsageRequest) WorkspaceId(workspaceId string) ApiUsageListUsageRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r ApiUsageListUsageRequest) Skip(skip int32) ApiUsageListUsageRequest {
	r.skip = &skip
	return r
}

func (r ApiUsageListUsageRequest) Limit(limit int32) ApiUsageListUsageRequest {
	r.limit = &limit
	return r
}

func (r ApiUsageListUsageRequest) Execute() ([]UsageEntry, *http.Response, error) {
	return r.ApiService.UsageListUsageExecute(r)
}

/*
UsageListUsage List Usage

List usage logs ordered by timestamp (most recent first).

Supports optional filters for time range, user, status, failure status code,
model, endpoint, provider, source, session (“source_label“), and request
group (“request_group_id“, repeatable, which returns a routed request's
whole attempt plan). Paginated via skip/limit. The return shape is a bare JSON array; external
billing/analytics consumers depend on this, so the total row count for a
paginated UI is served separately by “GET /api/v1/usage/count“ rather than
wrapped in an envelope here. Timestamps accept either ISO 8601 strings or
Unix epoch seconds (numeric).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsageListUsageRequest
*/
func (a *UsageAPIService) UsageListUsage(ctx context.Context) ApiUsageListUsageRequest {
	return ApiUsageListUsageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []UsageEntry
func (a *UsageAPIService) UsageListUsageExecute(r ApiUsageListUsageRequest) ([]UsageEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []UsageEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.UsageListUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.userId != nil {
		t := *r.userId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", t, "form", "multi")
		}
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.statusCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status_code", r.statusCode, "form", "")
	}
	if r.model != nil {
		t := *r.model
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "model", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "model", t, "form", "multi")
		}
	}
	if r.endpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpoint", r.endpoint, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.sourceLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_label", r.sourceLabel, "form", "")
	}
	if r.apiKeyId != nil {
		t := *r.apiKeyId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", t, "form", "multi")
		}
	}
	if r.priced != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priced", r.priced, "form", "")
	}
	if r.tool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tool", r.tool, "form", "")
	}
	if r.countsTowardBudget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "counts_toward_budget", r.countsTowardBudget, "form", "")
	}
	if r.requestGroupId != nil {
		t := *r.requestGroupId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "request_group_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "request_group_id", t, "form", "multi")
		}
	}
	if r.workspaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace_id", r.workspaceId, "form", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageSetUsagePriceRowsRequest struct {
	ctx                  context.Context
	ApiService           *UsageAPIService
	usageSetPriceRequest *UsageSetPriceRequest
}

func (r ApiUsageSetUsagePriceRowsRequest) UsageSetPriceRequest(usageSetPriceRequest UsageSetPriceRequest) ApiUsageSetUsagePriceRowsRequest {
	r.usageSetPriceRequest = &usageSetPriceRequest
	return r
}

func (r ApiUsageSetUsagePriceRowsRequest) Execute() (*UsageSetPriceResult, *http.Response, error) {
	return r.ApiService.UsageSetUsagePriceRowsExecute(r)
}

/*
UsageSetUsagePriceRows Set Usage Price Rows

Set the cost of imported usage rows from manual per-1M rates (standalone).

Target either the current selection (“ids“) or everything matching a filter
(“by_filter: true“). Cost / billing meters / pricing breakdown are recomputed
from each row's own token counts at the supplied “input“ / “output“ /
“cache_read“ / “cache_write“ per-1M rates (manual rates, not a recompute from
configured pricing). Only imported rows (“counts_toward_budget = false“) are
touched, so “users.spend“ is never affected. Master-key only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsageSetUsagePriceRowsRequest
*/
func (a *UsageAPIService) UsageSetUsagePriceRows(ctx context.Context) ApiUsageSetUsagePriceRowsRequest {
	return ApiUsageSetUsagePriceRowsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UsageSetPriceResult
func (a *UsageAPIService) UsageSetUsagePriceRowsExecute(r ApiUsageSetUsagePriceRowsRequest) (*UsageSetPriceResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UsageSetPriceResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.UsageSetUsagePriceRows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/set-price"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.usageSetPriceRequest == nil {
		return localVarReturnValue, nil, reportError("usageSetPriceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.usageSetPriceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageUsageSeriesRequest struct {
	ctx                context.Context
	ApiService         *UsageAPIService
	groupBy            *string
	startDate          *time.Time
	endDate            *time.Time
	userId             *[]string
	status             *string
	statusCode         *int32
	model              *[]string
	endpoint           *string
	provider           *string
	source             *string
	sourceLabel        *string
	apiKeyId           *[]string
	priced             *bool
	tool               *string
	countsTowardBudget *bool
	workspaceId        *string
	bucket             *string
}

// Dimension to split the series by
func (r ApiUsageUsageSeriesRequest) GroupBy(groupBy string) ApiUsageUsageSeriesRequest {
	r.groupBy = &groupBy
	return r
}

// Return logs with timestamp &gt;&#x3D; start_date (ISO 8601 or Unix epoch seconds)
func (r ApiUsageUsageSeriesRequest) StartDate(startDate time.Time) ApiUsageUsageSeriesRequest {
	r.startDate = &startDate
	return r
}

// Return logs with timestamp &lt; end_date (ISO 8601 or Unix epoch seconds)
func (r ApiUsageUsageSeriesRequest) EndDate(endDate time.Time) ApiUsageUsageSeriesRequest {
	r.endDate = &endDate
	return r
}

// Filter to one or more users; repeatable (user_id&#x3D;a&amp;user_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageUsageSeriesRequest) UserId(userId []string) ApiUsageUsageSeriesRequest {
	r.userId = &userId
	return r
}

// Filter to a single status: &#39;success&#39;, &#39;error&#39;, or &#39;absorbed&#39; (an attempt a routing policy recovered from, excluded from error_count and request_count)
func (r ApiUsageUsageSeriesRequest) Status(status string) ApiUsageUsageSeriesRequest {
	r.status = &status
	return r
}

// Filter to a single failure status code (e.g. 429 for provider rate limits, 402 for missing-pricing rejections). Only error rows carry one, so this filter also restricts to status&#x3D;&#39;error&#39; unless &#39;status&#39; is given explicitly
func (r ApiUsageUsageSeriesRequest) StatusCode(statusCode int32) ApiUsageUsageSeriesRequest {
	r.statusCode = &statusCode
	return r
}

// Filter to one or more models; repeatable (model&#x3D;a&amp;model&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageUsageSeriesRequest) Model(model []string) ApiUsageUsageSeriesRequest {
	r.model = &model
	return r
}

// Filter to a single endpoint (e.g. &#39;/v1/chat/completions&#39;)
func (r ApiUsageUsageSeriesRequest) Endpoint(endpoint string) ApiUsageUsageSeriesRequest {
	r.endpoint = &endpoint
	return r
}

// Filter to a single provider (e.g. &#39;openai&#39;)
func (r ApiUsageUsageSeriesRequest) Provider(provider string) ApiUsageUsageSeriesRequest {
	r.provider = &provider
	return r
}

// Filter to a single provenance source (e.g. &#39;gateway&#39; or &#39;claude_code&#39;)
func (r ApiUsageUsageSeriesRequest) Source(source string) ApiUsageUsageSeriesRequest {
	r.source = &source
	return r
}

// Filter to a single session/project label (the source_label carried by imported usage)
func (r ApiUsageUsageSeriesRequest) SourceLabel(sourceLabel string) ApiUsageUsageSeriesRequest {
	r.sourceLabel = &sourceLabel
	return r
}

// Filter to one or more API key ids; repeatable (api_key_id&#x3D;a&amp;api_key_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageUsageSeriesRequest) ApiKeyId(apiKeyId []string) ApiUsageUsageSeriesRequest {
	r.apiKeyId = &apiKeyId
	return r
}

// Filter by token-pricing state: true &#x3D; only rows whose model tokens were priced, false &#x3D; only rows that still need pricing (no cost at all, or tokens that were never metered because the model had no rate). A row charged only for gateway-run tool calls still counts as needing pricing.
func (r ApiUsageUsageSeriesRequest) Priced(priced bool) ApiUsageUsageSeriesRequest {
	r.priced = &priced
	return r
}

// Filter to requests that ran a gateway-run tool. &#39;any&#39; matches any tool; a tool name (web_search, code_execution) matches that tool specifically.
func (r ApiUsageUsageSeriesRequest) Tool(tool string) ApiUsageUsageSeriesRequest {
	r.tool = &tool
	return r
}

// Filter by budget participation, which is not the same question as provenance: true &#x3D; only enforced gateway rows, false &#x3D; every row that never touches a budget, meaning imported usage and also gateway traffic on a budget-exempt key
func (r ApiUsageUsageSeriesRequest) CountsTowardBudget(countsTowardBudget bool) ApiUsageUsageSeriesRequest {
	r.countsTowardBudget = &countsTowardBudget
	return r
}

// Only usage recorded in this workspace.
func (r ApiUsageUsageSeriesRequest) WorkspaceId(workspaceId string) ApiUsageUsageSeriesRequest {
	r.workspaceId = &workspaceId
	return r
}

// Time-series granularity: &#39;hour&#39; or &#39;day&#39;
func (r ApiUsageUsageSeriesRequest) Bucket(bucket string) ApiUsageUsageSeriesRequest {
	r.bucket = &bucket
	return r
}

func (r ApiUsageUsageSeriesRequest) Execute() (*UsageGroupedSeries, *http.Response, error) {
	return r.ApiService.UsageUsageSeriesExecute(r)
}

/*
UsageUsageSeries Usage Series

Time series split by one dimension, for the dashboard's stacked charts.

Same filters and window bounds as “/summary“ (kept in lockstep: the
dashboard serializes one filter object for both, and a filter this endpoint
silently ignored would make the stacked chart disagree with the tiles beside
it). The window's top groups by spend are returned as their own series;
everything past the top eight folds into a single “other“ series per
bucket, so the stack always reconciles with the summary totals. Points are
sparse (populated cells only); the bucket grid is bounded like “/summary“'s
series, so an hourly bucket over a too-wide window is rejected rather than
ballooning the payload.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsageUsageSeriesRequest
*/
func (a *UsageAPIService) UsageUsageSeries(ctx context.Context) ApiUsageUsageSeriesRequest {
	return ApiUsageUsageSeriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UsageGroupedSeries
func (a *UsageAPIService) UsageUsageSeriesExecute(r ApiUsageUsageSeriesRequest) (*UsageGroupedSeries, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UsageGroupedSeries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.UsageUsageSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/series"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.groupBy == nil {
		return localVarReturnValue, nil, reportError("groupBy is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "group_by", r.groupBy, "form", "")
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.userId != nil {
		t := *r.userId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", t, "form", "multi")
		}
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.statusCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status_code", r.statusCode, "form", "")
	}
	if r.model != nil {
		t := *r.model
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "model", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "model", t, "form", "multi")
		}
	}
	if r.endpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpoint", r.endpoint, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.sourceLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_label", r.sourceLabel, "form", "")
	}
	if r.apiKeyId != nil {
		t := *r.apiKeyId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", t, "form", "multi")
		}
	}
	if r.priced != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priced", r.priced, "form", "")
	}
	if r.tool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tool", r.tool, "form", "")
	}
	if r.countsTowardBudget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "counts_toward_budget", r.countsTowardBudget, "form", "")
	}
	if r.workspaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace_id", r.workspaceId, "form", "")
	}
	if r.bucket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", r.bucket, "form", "")
	} else {
		var defaultValue string = "day"
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", defaultValue, "form", "")
		r.bucket = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageUsageSummaryRequest struct {
	ctx                context.Context
	ApiService         *UsageAPIService
	startDate          *time.Time
	endDate            *time.Time
	userId             *[]string
	status             *string
	statusCode         *int32
	model              *[]string
	endpoint           *string
	provider           *string
	source             *string
	sourceLabel        *string
	apiKeyId           *[]string
	priced             *bool
	tool               *string
	countsTowardBudget *bool
	workspaceId        *string
	bucket             *string
	dimensions         *[]string
}

// Return logs with timestamp &gt;&#x3D; start_date (ISO 8601 or Unix epoch seconds)
func (r ApiUsageUsageSummaryRequest) StartDate(startDate time.Time) ApiUsageUsageSummaryRequest {
	r.startDate = &startDate
	return r
}

// Return logs with timestamp &lt; end_date (ISO 8601 or Unix epoch seconds)
func (r ApiUsageUsageSummaryRequest) EndDate(endDate time.Time) ApiUsageUsageSummaryRequest {
	r.endDate = &endDate
	return r
}

// Filter to one or more users; repeatable (user_id&#x3D;a&amp;user_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageUsageSummaryRequest) UserId(userId []string) ApiUsageUsageSummaryRequest {
	r.userId = &userId
	return r
}

// Filter to a single status: &#39;success&#39;, &#39;error&#39;, or &#39;absorbed&#39; (an attempt a routing policy recovered from, excluded from error_count and request_count)
func (r ApiUsageUsageSummaryRequest) Status(status string) ApiUsageUsageSummaryRequest {
	r.status = &status
	return r
}

// Filter to a single failure status code (e.g. 429 for provider rate limits, 402 for missing-pricing rejections). Only error rows carry one, so this filter also restricts to status&#x3D;&#39;error&#39; unless &#39;status&#39; is given explicitly
func (r ApiUsageUsageSummaryRequest) StatusCode(statusCode int32) ApiUsageUsageSummaryRequest {
	r.statusCode = &statusCode
	return r
}

// Filter to one or more models; repeatable (model&#x3D;a&amp;model&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageUsageSummaryRequest) Model(model []string) ApiUsageUsageSummaryRequest {
	r.model = &model
	return r
}

// Filter to a single endpoint (e.g. &#39;/v1/chat/completions&#39;)
func (r ApiUsageUsageSummaryRequest) Endpoint(endpoint string) ApiUsageUsageSummaryRequest {
	r.endpoint = &endpoint
	return r
}

// Filter to a single provider (e.g. &#39;openai&#39;)
func (r ApiUsageUsageSummaryRequest) Provider(provider string) ApiUsageUsageSummaryRequest {
	r.provider = &provider
	return r
}

// Filter to a single provenance source (e.g. &#39;gateway&#39; or &#39;claude_code&#39;)
func (r ApiUsageUsageSummaryRequest) Source(source string) ApiUsageUsageSummaryRequest {
	r.source = &source
	return r
}

// Filter to a single session/project label (the source_label carried by imported usage)
func (r ApiUsageUsageSummaryRequest) SourceLabel(sourceLabel string) ApiUsageUsageSummaryRequest {
	r.sourceLabel = &sourceLabel
	return r
}

// Filter to one or more API key ids; repeatable (api_key_id&#x3D;a&amp;api_key_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiUsageUsageSummaryRequest) ApiKeyId(apiKeyId []string) ApiUsageUsageSummaryRequest {
	r.apiKeyId = &apiKeyId
	return r
}

// Filter by token-pricing state: true &#x3D; only rows whose model tokens were priced, false &#x3D; only rows that still need pricing (no cost at all, or tokens that were never metered because the model had no rate). A row charged only for gateway-run tool calls still counts as needing pricing.
func (r ApiUsageUsageSummaryRequest) Priced(priced bool) ApiUsageUsageSummaryRequest {
	r.priced = &priced
	return r
}

// Filter to requests that ran a gateway-run tool. &#39;any&#39; matches any tool; a tool name (web_search, code_execution) matches that tool specifically.
func (r ApiUsageUsageSummaryRequest) Tool(tool string) ApiUsageUsageSummaryRequest {
	r.tool = &tool
	return r
}

// Filter by budget participation, which is not the same question as provenance: true &#x3D; only enforced gateway rows, false &#x3D; every row that never touches a budget, meaning imported usage and also gateway traffic on a budget-exempt key
func (r ApiUsageUsageSummaryRequest) CountsTowardBudget(countsTowardBudget bool) ApiUsageUsageSummaryRequest {
	r.countsTowardBudget = &countsTowardBudget
	return r
}

// Only usage recorded in this workspace.
func (r ApiUsageUsageSummaryRequest) WorkspaceId(workspaceId string) ApiUsageUsageSummaryRequest {
	r.workspaceId = &workspaceId
	return r
}

// Time-series granularity: &#39;hour&#39; or &#39;day&#39;
func (r ApiUsageUsageSummaryRequest) Bucket(bucket string) ApiUsageUsageSummaryRequest {
	r.bucket = &bucket
	return r
}

// Which breakdowns to compute; repeatable (dimensions&#x3D;model&amp;dimensions&#x3D;user). Each value names the &#39;by_&lt;value&gt;&#39; response field it fills, except &#39;status_code&#39;, which fills the failure taxonomy in &#39;errors_by_status_code&#39;. Omit for every breakdown (the default); pass &#39;none&#39; for a totals-and-series-only response. Each dimension left out skips one GROUP BY scan, so a caller that reads only the tiles or the time series should say so. Fields that were not requested come back empty.
func (r ApiUsageUsageSummaryRequest) Dimensions(dimensions []string) ApiUsageUsageSummaryRequest {
	r.dimensions = &dimensions
	return r
}

func (r ApiUsageUsageSummaryRequest) Execute() (*UsageSummary, *http.Response, error) {
	return r.ApiService.UsageUsageSummaryExecute(r)
}

/*
UsageUsageSummary Usage Summary

Aggregate spend, tokens, and request volume for the dashboard Usage page.

Range-bounded (default last 30 days, hard-capped): unlike the raw “/api/v1/usage“
list, every aggregate is scoped to a bounded window so it stays served by the
timestamp index. Returns grand totals, breakdowns by model / user / API key /
source / session (“source_label“) / endpoint / provider (top rows plus a
reconciling “other“ fold, billed token counts), the error taxonomy grouped
by failure status code, and a UTC-bucketed time series carrying each bucket's
error count and billed token composition (input incl. cache, cache read/write,
output).

Each breakdown is its own “GROUP BY“ pass, so a caller that reads only the
totals or the series should narrow “dimensions“ rather than pay for all eight
(the dashboard's tiles, timeline context, and model typeahead all do). Omitting
the parameter keeps the full set.

“model“, “user_id“, and “api_key_id“ are repeatable: several values match
any of them, so one chart can compare a handful of models, users, or keys.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUsageUsageSummaryRequest
*/
func (a *UsageAPIService) UsageUsageSummary(ctx context.Context) ApiUsageUsageSummaryRequest {
	return ApiUsageUsageSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UsageSummary
func (a *UsageAPIService) UsageUsageSummaryExecute(r ApiUsageUsageSummaryRequest) (*UsageSummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UsageSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.UsageUsageSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/usage/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.userId != nil {
		t := *r.userId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", t, "form", "multi")
		}
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.statusCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status_code", r.statusCode, "form", "")
	}
	if r.model != nil {
		t := *r.model
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "model", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "model", t, "form", "multi")
		}
	}
	if r.endpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpoint", r.endpoint, "form", "")
	}
	if r.provider != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provider", r.provider, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.sourceLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_label", r.sourceLabel, "form", "")
	}
	if r.apiKeyId != nil {
		t := *r.apiKeyId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", t, "form", "multi")
		}
	}
	if r.priced != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priced", r.priced, "form", "")
	}
	if r.tool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tool", r.tool, "form", "")
	}
	if r.countsTowardBudget != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "counts_toward_budget", r.countsTowardBudget, "form", "")
	}
	if r.workspaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspace_id", r.workspaceId, "form", "")
	}
	if r.bucket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", r.bucket, "form", "")
	} else {
		var defaultValue string = "day"
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", defaultValue, "form", "")
		r.bucket = &defaultValue
	}
	if r.dimensions != nil {
		t := *r.dimensions
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "dimensions", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "dimensions", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
