/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// BootstrapAPIService BootstrapAPI service
type BootstrapAPIService service

type ApiGetBootstrapV1BootstrapGetRequest struct {
	ctx        context.Context
	ApiService *BootstrapAPIService
}

func (r ApiGetBootstrapV1BootstrapGetRequest) Execute() (*DeploymentBootstrap, *http.Response, error) {
	return r.ApiService.GetBootstrapV1BootstrapGetExecute(r)
}

/*
GetBootstrapV1BootstrapGet Get Bootstrap

Return the deployment context the dashboard shell renders from.

Public: the shell fetches this before it knows whether it can authenticate.
That is also why “sign_in_methods“ is answered here rather than behind a
credential, and it publishes nothing an unauthenticated caller could not
already learn by trying both credentials against the sign-in endpoint.

The database read is two primary-key lookups: the “tenancy_bootstrap_user_id“
marker, and the identity it names, to answer whether *that* identity holds a
password (#702). It runs only in standalone mode: a hybrid gateway has no session to describe,
and “get_db_if_needed“ hands it no session to read one from.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetBootstrapV1BootstrapGetRequest
*/
func (a *BootstrapAPIService) GetBootstrapV1BootstrapGet(ctx context.Context) ApiGetBootstrapV1BootstrapGetRequest {
	return ApiGetBootstrapV1BootstrapGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DeploymentBootstrap
func (a *BootstrapAPIService) GetBootstrapV1BootstrapGetExecute(r ApiGetBootstrapV1BootstrapGetRequest) (*DeploymentBootstrap, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DeploymentBootstrap
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BootstrapAPIService.GetBootstrapV1BootstrapGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/bootstrap"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
