/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// WorkspaceWebSearchAPIService WorkspaceWebSearchAPI service
type WorkspaceWebSearchAPIService service

type ApiClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDeleteRequest struct {
	ctx         context.Context
	ApiService  *WorkspaceWebSearchAPIService
	workspaceId string
}

func (r ApiClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDeleteRequest) Execute() (*WorkspaceWebSearchConfigPublic, *http.Response, error) {
	return r.ApiService.ClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDeleteExecute(r)
}

/*
ClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDelete Clear Workspace Web Search Config

Drop a workspace's configuration, returning it to the deployment's behavior.

Idempotent: a workspace that has no configuration is already in the state
this asks for, so it answers with the unconfigured shape rather than a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@return ApiClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDeleteRequest
*/
func (a *WorkspaceWebSearchAPIService) ClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDelete(ctx context.Context, workspaceId string) ApiClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDeleteRequest {
	return ApiClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDeleteRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
	}
}

// Execute executes the request
//
//	@return WorkspaceWebSearchConfigPublic
func (a *WorkspaceWebSearchAPIService) ClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDeleteExecute(r ApiClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDeleteRequest) (*WorkspaceWebSearchConfigPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceWebSearchConfigPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceWebSearchAPIService.ClearWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/web-search"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGetRequest struct {
	ctx         context.Context
	ApiService  *WorkspaceWebSearchAPIService
	workspaceId string
}

func (r ApiGetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGetRequest) Execute() (*WorkspaceWebSearchConfigPublic, *http.Response, error) {
	return r.ApiService.GetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGetExecute(r)
}

/*
GetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGet Get Workspace Web Search Config

Read a workspace's web-search configuration.

Takes the same role as setting it (an organization owner/admin, or an
owner/admin of this workspace), because the row describes the workspace's
posture rather than one member's allowance. A workspace with no row answers
with the unconfigured shape (“configured: false“), which is the
deployment's own behavior described in the same shape rather than a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@return ApiGetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGetRequest
*/
func (a *WorkspaceWebSearchAPIService) GetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGet(ctx context.Context, workspaceId string) ApiGetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGetRequest {
	return ApiGetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGetRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
	}
}

// Execute executes the request
//
//	@return WorkspaceWebSearchConfigPublic
func (a *WorkspaceWebSearchAPIService) GetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGetExecute(r ApiGetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGetRequest) (*WorkspaceWebSearchConfigPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceWebSearchConfigPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceWebSearchAPIService.GetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/web-search"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutRequest struct {
	ctx                            context.Context
	ApiService                     *WorkspaceWebSearchAPIService
	workspaceId                    string
	workspaceWebSearchConfigUpdate *WorkspaceWebSearchConfigUpdate
}

func (r ApiSetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutRequest) WorkspaceWebSearchConfigUpdate(workspaceWebSearchConfigUpdate WorkspaceWebSearchConfigUpdate) ApiSetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutRequest {
	r.workspaceWebSearchConfigUpdate = &workspaceWebSearchConfigUpdate
	return r
}

func (r ApiSetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutRequest) Execute() (*WorkspaceWebSearchConfigPublic, *http.Response, error) {
	return r.ApiService.SetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutExecute(r)
}

/*
SetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPut Set Workspace Web Search Config

Set a workspace's web-search configuration, replacing any existing one.

An organization owner/admin, or an owner/admin of this workspace, may write
it. The configuration can only narrow what the deployment permits: turning
web search off for the workspace, lowering the result ceiling, and adding to
the domains a search may not reach. It never turns on a backend the
deployment has not configured, and it carries no credential.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@return ApiSetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutRequest
*/
func (a *WorkspaceWebSearchAPIService) SetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPut(ctx context.Context, workspaceId string) ApiSetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutRequest {
	return ApiSetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
	}
}

// Execute executes the request
//
//	@return WorkspaceWebSearchConfigPublic
func (a *WorkspaceWebSearchAPIService) SetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutExecute(r ApiSetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPutRequest) (*WorkspaceWebSearchConfigPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceWebSearchConfigPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceWebSearchAPIService.SetWorkspaceWebSearchConfigV1WorkspacesWorkspaceIdWebSearchPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/web-search"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceWebSearchConfigUpdate == nil {
		return localVarReturnValue, nil, reportError("workspaceWebSearchConfigUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workspaceWebSearchConfigUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
