/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.12.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// OrganizationPricingAPIService OrganizationPricingAPI service
type OrganizationPricingAPIService service

type ApiOrganizationPricingCreateOrganizationPricingRequest struct {
	ctx                            context.Context
	ApiService                     *OrganizationPricingAPIService
	organizationModelPricingCreate *OrganizationModelPricingCreate
}

func (r ApiOrganizationPricingCreateOrganizationPricingRequest) OrganizationModelPricingCreate(organizationModelPricingCreate OrganizationModelPricingCreate) ApiOrganizationPricingCreateOrganizationPricingRequest {
	r.organizationModelPricingCreate = &organizationModelPricingCreate
	return r
}

func (r ApiOrganizationPricingCreateOrganizationPricingRequest) Execute() (*OrganizationModelPricingPublic, *http.Response, error) {
	return r.ApiService.OrganizationPricingCreateOrganizationPricingExecute(r)
}

/*
OrganizationPricingCreateOrganizationPricing Create Organization Pricing

Set the organization's rate for a model over a period.

Refused with a 409 when the period overlaps one already stored for that model,
naming the period it collides with, rather than shadowing it. Refused with a
403 when the deployment, not the caller's organization, holds the credential
that serves the model, whether through one of its own provider instances or a
hosted credential the bound port supplies because no usable BYO credential of
the organization's own covers every one of its workspaces: either way the
deployment settles the upstream bill, so its rate is the deployment price
list's rather than a tenant's.

The key is normalized to its canonical “instance:model“ form first, the same
call “POST /api/v1/pricing“ makes, and that is what makes one model one row
rather than one per spelling. Stored verbatim, “openai:gpt-4o“ and
“openai/gpt-4o“ are two keys: the overlap rule would not see them as
colliding, and both would resolve, with the canonical one preferred, leaving
the other dormant until the first is deleted. Normalizing on the way in is
what stops that pair existing at all.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOrganizationPricingCreateOrganizationPricingRequest
*/
func (a *OrganizationPricingAPIService) OrganizationPricingCreateOrganizationPricing(ctx context.Context) ApiOrganizationPricingCreateOrganizationPricingRequest {
	return ApiOrganizationPricingCreateOrganizationPricingRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrganizationModelPricingPublic
func (a *OrganizationPricingAPIService) OrganizationPricingCreateOrganizationPricingExecute(r ApiOrganizationPricingCreateOrganizationPricingRequest) (*OrganizationModelPricingPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationModelPricingPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationPricingAPIService.OrganizationPricingCreateOrganizationPricing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/pricing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationModelPricingCreate == nil {
		return localVarReturnValue, nil, reportError("organizationModelPricingCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationModelPricingCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationPricingDeleteOrganizationPricingRequest struct {
	ctx        context.Context
	ApiService *OrganizationPricingAPIService
	pricingId  string
}

func (r ApiOrganizationPricingDeleteOrganizationPricingRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationPricingDeleteOrganizationPricingExecute(r)
}

/*
OrganizationPricingDeleteOrganizationPricing Delete Organization Pricing

Remove an override, returning the model to the deployment price list.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param pricingId
	@return ApiOrganizationPricingDeleteOrganizationPricingRequest
*/
func (a *OrganizationPricingAPIService) OrganizationPricingDeleteOrganizationPricing(ctx context.Context, pricingId string) ApiOrganizationPricingDeleteOrganizationPricingRequest {
	return ApiOrganizationPricingDeleteOrganizationPricingRequest{
		ApiService: a,
		ctx:        ctx,
		pricingId:  pricingId,
	}
}

// Execute executes the request
func (a *OrganizationPricingAPIService) OrganizationPricingDeleteOrganizationPricingExecute(r ApiOrganizationPricingDeleteOrganizationPricingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationPricingAPIService.OrganizationPricingDeleteOrganizationPricing")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/pricing/{pricing_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pricing_id"+"}", url.PathEscape(parameterValueToString(r.pricingId, "pricingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOrganizationPricingListOrganizationPricingRequest struct {
	ctx        context.Context
	ApiService *OrganizationPricingAPIService
	modelKey   *string
	skip       *int32
	limit      *int32
}

// Return only this model&#39;s periods, in the canonical &#39;provider:model&#39; form.
func (r ApiOrganizationPricingListOrganizationPricingRequest) ModelKey(modelKey string) ApiOrganizationPricingListOrganizationPricingRequest {
	r.modelKey = &modelKey
	return r
}

// Number of records to skip
func (r ApiOrganizationPricingListOrganizationPricingRequest) Skip(skip int32) ApiOrganizationPricingListOrganizationPricingRequest {
	r.skip = &skip
	return r
}

// Maximum number of records to return
func (r ApiOrganizationPricingListOrganizationPricingRequest) Limit(limit int32) ApiOrganizationPricingListOrganizationPricingRequest {
	r.limit = &limit
	return r
}

func (r ApiOrganizationPricingListOrganizationPricingRequest) Execute() (*OrganizationModelPricingsPublic, *http.Response, error) {
	return r.ApiService.OrganizationPricingListOrganizationPricingExecute(r)
}

/*
OrganizationPricingListOrganizationPricing List Organization Pricing

List the organization's rate overrides.

Readable by any member: these rates decide what the caller's own requests
cost, so they are not withheld from the people billed at them. Writing needs
an owner or admin.

Paged on the same bounds the rest of the tenancy surface uses, because the
table grows a row per model per period. “count“ is the total, so a client
knows whether another page is owed.

“model_key“ narrows to one model, which is what an editor for that model
needs: every period stored for it, so it can open on the one in force and
refuse a new one that would overlap. Normalized the same way a write is, so
a legacy “provider/model“ spelling finds the rows a canonical one stored.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOrganizationPricingListOrganizationPricingRequest
*/
func (a *OrganizationPricingAPIService) OrganizationPricingListOrganizationPricing(ctx context.Context) ApiOrganizationPricingListOrganizationPricingRequest {
	return ApiOrganizationPricingListOrganizationPricingRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrganizationModelPricingsPublic
func (a *OrganizationPricingAPIService) OrganizationPricingListOrganizationPricingExecute(r ApiOrganizationPricingListOrganizationPricingRequest) (*OrganizationModelPricingsPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationModelPricingsPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationPricingAPIService.OrganizationPricingListOrganizationPricing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/pricing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.modelKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model_key", r.modelKey, "form", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationPricingReplaceOrganizationPricingRequest struct {
	ctx                            context.Context
	ApiService                     *OrganizationPricingAPIService
	pricingId                      string
	organizationModelPricingUpdate *OrganizationModelPricingUpdate
}

func (r ApiOrganizationPricingReplaceOrganizationPricingRequest) OrganizationModelPricingUpdate(organizationModelPricingUpdate OrganizationModelPricingUpdate) ApiOrganizationPricingReplaceOrganizationPricingRequest {
	r.organizationModelPricingUpdate = &organizationModelPricingUpdate
	return r
}

func (r ApiOrganizationPricingReplaceOrganizationPricingRequest) Execute() (*OrganizationModelPricingPublic, *http.Response, error) {
	return r.ApiService.OrganizationPricingReplaceOrganizationPricingExecute(r)
}

/*
OrganizationPricingReplaceOrganizationPricing Replace Organization Pricing

Replace an override's rates and period.

Future requests in the period price at the new rate; usage already settled
keeps the cost it was billed, because a settled cost is stored on the usage
row rather than recomputed.

Refused with a 403 on the same deployment-supplied-model rule the create path
carries, so a row stored before that rule existed cannot be edited into a rate
nobody could create today.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param pricingId
	@return ApiOrganizationPricingReplaceOrganizationPricingRequest
*/
func (a *OrganizationPricingAPIService) OrganizationPricingReplaceOrganizationPricing(ctx context.Context, pricingId string) ApiOrganizationPricingReplaceOrganizationPricingRequest {
	return ApiOrganizationPricingReplaceOrganizationPricingRequest{
		ApiService: a,
		ctx:        ctx,
		pricingId:  pricingId,
	}
}

// Execute executes the request
//
//	@return OrganizationModelPricingPublic
func (a *OrganizationPricingAPIService) OrganizationPricingReplaceOrganizationPricingExecute(r ApiOrganizationPricingReplaceOrganizationPricingRequest) (*OrganizationModelPricingPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationModelPricingPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationPricingAPIService.OrganizationPricingReplaceOrganizationPricing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/pricing/{pricing_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pricing_id"+"}", url.PathEscape(parameterValueToString(r.pricingId, "pricingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationModelPricingUpdate == nil {
		return localVarReturnValue, nil, reportError("organizationModelPricingUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationModelPricingUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
