/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)

// UsageAPIService UsageAPI service
type UsageAPIService service

type ApiListUsageV1UsageGetRequest struct {
	ctx        context.Context
	ApiService *UsageAPIService
	startDate  *time.Time
	endDate    *time.Time
	userId     *string
	skip       *int32
	limit      *int32
}

// Return logs with timestamp &gt;&#x3D; start_date (ISO 8601 or Unix epoch seconds)
func (r ApiListUsageV1UsageGetRequest) StartDate(startDate time.Time) ApiListUsageV1UsageGetRequest {
	r.startDate = &startDate
	return r
}

// Return logs with timestamp &lt; end_date (ISO 8601 or Unix epoch seconds)
func (r ApiListUsageV1UsageGetRequest) EndDate(endDate time.Time) ApiListUsageV1UsageGetRequest {
	r.endDate = &endDate
	return r
}

// Filter to a single user
func (r ApiListUsageV1UsageGetRequest) UserId(userId string) ApiListUsageV1UsageGetRequest {
	r.userId = &userId
	return r
}

func (r ApiListUsageV1UsageGetRequest) Skip(skip int32) ApiListUsageV1UsageGetRequest {
	r.skip = &skip
	return r
}

func (r ApiListUsageV1UsageGetRequest) Limit(limit int32) ApiListUsageV1UsageGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListUsageV1UsageGetRequest) Execute() ([]UsageEntry, *http.Response, error) {
	return r.ApiService.ListUsageV1UsageGetExecute(r)
}

/*
ListUsageV1UsageGet List Usage

List usage logs ordered by timestamp (most recent first).

Supports optional filters for time range and user. Paginated via skip/limit.
Timestamps accept either ISO 8601 strings or Unix epoch seconds (numeric).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListUsageV1UsageGetRequest
*/
func (a *UsageAPIService) ListUsageV1UsageGet(ctx context.Context) ApiListUsageV1UsageGetRequest {
	return ApiListUsageV1UsageGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []UsageEntry
func (a *UsageAPIService) ListUsageV1UsageGetExecute(r ApiListUsageV1UsageGetRequest) ([]UsageEntry, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []UsageEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsageAPIService.ListUsageV1UsageGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", r.userId, "form", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
