/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.12.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ScopedBudgetsAPIService ScopedBudgetsAPI service
type ScopedBudgetsAPIService service

type ApiScopedBudgetsCreateScopedBudgetRequest struct {
	ctx                       context.Context
	ApiService                *ScopedBudgetsAPIService
	createScopedBudgetRequest *CreateScopedBudgetRequest
}

func (r ApiScopedBudgetsCreateScopedBudgetRequest) CreateScopedBudgetRequest(createScopedBudgetRequest CreateScopedBudgetRequest) ApiScopedBudgetsCreateScopedBudgetRequest {
	r.createScopedBudgetRequest = &createScopedBudgetRequest
	return r
}

func (r ApiScopedBudgetsCreateScopedBudgetRequest) Execute() (*ScopedBudgetResponse, *http.Response, error) {
	return r.ApiService.ScopedBudgetsCreateScopedBudgetExecute(r)
}

/*
ScopedBudgetsCreateScopedBudget Create Scoped Budget

Create a scoped budget.

Answers 404 when the scope names nothing, rather than creating a ceiling
that can never bind.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiScopedBudgetsCreateScopedBudgetRequest
*/
func (a *ScopedBudgetsAPIService) ScopedBudgetsCreateScopedBudget(ctx context.Context) ApiScopedBudgetsCreateScopedBudgetRequest {
	return ApiScopedBudgetsCreateScopedBudgetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ScopedBudgetResponse
func (a *ScopedBudgetsAPIService) ScopedBudgetsCreateScopedBudgetExecute(r ApiScopedBudgetsCreateScopedBudgetRequest) (*ScopedBudgetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedBudgetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.ScopedBudgetsCreateScopedBudget")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/scoped-budgets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createScopedBudgetRequest == nil {
		return localVarReturnValue, nil, reportError("createScopedBudgetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createScopedBudgetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScopedBudgetsDeleteScopedBudgetRequest struct {
	ctx        context.Context
	ApiService *ScopedBudgetsAPIService
	budgetId   string
}

func (r ApiScopedBudgetsDeleteScopedBudgetRequest) Execute() (*http.Response, error) {
	return r.ApiService.ScopedBudgetsDeleteScopedBudgetExecute(r)
}

/*
ScopedBudgetsDeleteScopedBudget Delete Scoped Budget

Delete a scoped budget.

A request holding a reservation against it settles into nothing afterwards,
which is the right outcome: the ceiling no longer exists to be credited.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param budgetId
	@return ApiScopedBudgetsDeleteScopedBudgetRequest
*/
func (a *ScopedBudgetsAPIService) ScopedBudgetsDeleteScopedBudget(ctx context.Context, budgetId string) ApiScopedBudgetsDeleteScopedBudgetRequest {
	return ApiScopedBudgetsDeleteScopedBudgetRequest{
		ApiService: a,
		ctx:        ctx,
		budgetId:   budgetId,
	}
}

// Execute executes the request
func (a *ScopedBudgetsAPIService) ScopedBudgetsDeleteScopedBudgetExecute(r ApiScopedBudgetsDeleteScopedBudgetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.ScopedBudgetsDeleteScopedBudget")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/scoped-budgets/{budget_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"budget_id"+"}", url.PathEscape(parameterValueToString(r.budgetId, "budgetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiScopedBudgetsGetScopedBudgetRequest struct {
	ctx        context.Context
	ApiService *ScopedBudgetsAPIService
	budgetId   string
}

func (r ApiScopedBudgetsGetScopedBudgetRequest) Execute() (*ScopedBudgetResponse, *http.Response, error) {
	return r.ApiService.ScopedBudgetsGetScopedBudgetExecute(r)
}

/*
ScopedBudgetsGetScopedBudget Get Scoped Budget

Get one scoped budget.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param budgetId
	@return ApiScopedBudgetsGetScopedBudgetRequest
*/
func (a *ScopedBudgetsAPIService) ScopedBudgetsGetScopedBudget(ctx context.Context, budgetId string) ApiScopedBudgetsGetScopedBudgetRequest {
	return ApiScopedBudgetsGetScopedBudgetRequest{
		ApiService: a,
		ctx:        ctx,
		budgetId:   budgetId,
	}
}

// Execute executes the request
//
//	@return ScopedBudgetResponse
func (a *ScopedBudgetsAPIService) ScopedBudgetsGetScopedBudgetExecute(r ApiScopedBudgetsGetScopedBudgetRequest) (*ScopedBudgetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedBudgetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.ScopedBudgetsGetScopedBudget")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/scoped-budgets/{budget_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"budget_id"+"}", url.PathEscape(parameterValueToString(r.budgetId, "budgetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScopedBudgetsListScopedBudgetsRequest struct {
	ctx        context.Context
	ApiService *ScopedBudgetsAPIService
	scopeType  *string
	scopeId    *string
	skip       *int32
	limit      *int32
}

func (r ApiScopedBudgetsListScopedBudgetsRequest) ScopeType(scopeType string) ApiScopedBudgetsListScopedBudgetsRequest {
	r.scopeType = &scopeType
	return r
}

func (r ApiScopedBudgetsListScopedBudgetsRequest) ScopeId(scopeId string) ApiScopedBudgetsListScopedBudgetsRequest {
	r.scopeId = &scopeId
	return r
}

func (r ApiScopedBudgetsListScopedBudgetsRequest) Skip(skip int32) ApiScopedBudgetsListScopedBudgetsRequest {
	r.skip = &skip
	return r
}

func (r ApiScopedBudgetsListScopedBudgetsRequest) Limit(limit int32) ApiScopedBudgetsListScopedBudgetsRequest {
	r.limit = &limit
	return r
}

func (r ApiScopedBudgetsListScopedBudgetsRequest) Execute() ([]ScopedBudgetResponse, *http.Response, error) {
	return r.ApiService.ScopedBudgetsListScopedBudgetsExecute(r)
}

/*
ScopedBudgetsListScopedBudgets List Scoped Budgets

List scoped budgets, optionally filtered to one scope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiScopedBudgetsListScopedBudgetsRequest
*/
func (a *ScopedBudgetsAPIService) ScopedBudgetsListScopedBudgets(ctx context.Context) ApiScopedBudgetsListScopedBudgetsRequest {
	return ApiScopedBudgetsListScopedBudgetsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ScopedBudgetResponse
func (a *ScopedBudgetsAPIService) ScopedBudgetsListScopedBudgetsExecute(r ApiScopedBudgetsListScopedBudgetsRequest) ([]ScopedBudgetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ScopedBudgetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.ScopedBudgetsListScopedBudgets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/scoped-budgets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scopeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope_type", r.scopeType, "form", "")
	}
	if r.scopeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope_id", r.scopeId, "form", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScopedBudgetsUpdateScopedBudgetRequest struct {
	ctx                       context.Context
	ApiService                *ScopedBudgetsAPIService
	budgetId                  string
	updateScopedBudgetRequest *UpdateScopedBudgetRequest
}

func (r ApiScopedBudgetsUpdateScopedBudgetRequest) UpdateScopedBudgetRequest(updateScopedBudgetRequest UpdateScopedBudgetRequest) ApiScopedBudgetsUpdateScopedBudgetRequest {
	r.updateScopedBudgetRequest = &updateScopedBudgetRequest
	return r
}

func (r ApiScopedBudgetsUpdateScopedBudgetRequest) Execute() (*ScopedBudgetResponse, *http.Response, error) {
	return r.ApiService.ScopedBudgetsUpdateScopedBudgetExecute(r)
}

/*
ScopedBudgetsUpdateScopedBudget Update Scoped Budget

Relabel a ceiling, or point it at a different budget.

The scope and the provider narrowing are not editable: changing either would
move the ceiling to a different identity while carrying its spend, which is
a delete and a create, not an update.

There is no limit or period to set here any more. Both are properties of the
budget, so changing what a ceiling allows is either editing that budget,
which moves every ceiling naming it, or naming a different one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param budgetId
	@return ApiScopedBudgetsUpdateScopedBudgetRequest
*/
func (a *ScopedBudgetsAPIService) ScopedBudgetsUpdateScopedBudget(ctx context.Context, budgetId string) ApiScopedBudgetsUpdateScopedBudgetRequest {
	return ApiScopedBudgetsUpdateScopedBudgetRequest{
		ApiService: a,
		ctx:        ctx,
		budgetId:   budgetId,
	}
}

// Execute executes the request
//
//	@return ScopedBudgetResponse
func (a *ScopedBudgetsAPIService) ScopedBudgetsUpdateScopedBudgetExecute(r ApiScopedBudgetsUpdateScopedBudgetRequest) (*ScopedBudgetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedBudgetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.ScopedBudgetsUpdateScopedBudget")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/scoped-budgets/{budget_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"budget_id"+"}", url.PathEscape(parameterValueToString(r.budgetId, "budgetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateScopedBudgetRequest == nil {
		return localVarReturnValue, nil, reportError("updateScopedBudgetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateScopedBudgetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
