/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// CatalogAPIService CatalogAPI service
type CatalogAPIService service

type ApiCatalogGetCatalogModelRequest struct {
	ctx        context.Context
	ApiService *CatalogAPIService
	modelId    string
}

func (r ApiCatalogGetCatalogModelRequest) Execute() (*CatalogModelDetail, *http.Response, error) {
	return r.ApiService.CatalogGetCatalogModelExecute(r)
}

/*
CatalogGetCatalogModel Get Catalog Model

One model and every offering of it this caller may use.

The whole merged catalog is built and grouped to answer for one model. That
is deliberate: the identity a model is found by is a property of the group,
so narrowing the build to one model would need the grouping done first. The
query count is constant; the cost is CPU per page view, growing with the
size of the catalog rather than with the number of readers.

A model the caller may not see answers 404, the same as one that does not
exist, so the route cannot be used to probe the catalog behind an allow-list.
A signed-in caller's offerings also carry their organization's own usage of
each over the last 30 days.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param modelId
	@return ApiCatalogGetCatalogModelRequest
*/
func (a *CatalogAPIService) CatalogGetCatalogModel(ctx context.Context, modelId string) ApiCatalogGetCatalogModelRequest {
	return ApiCatalogGetCatalogModelRequest{
		ApiService: a,
		ctx:        ctx,
		modelId:    modelId,
	}
}

// Execute executes the request
//
//	@return CatalogModelDetail
func (a *CatalogAPIService) CatalogGetCatalogModelExecute(r ApiCatalogGetCatalogModelRequest) (*CatalogModelDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogModelDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CatalogGetCatalogModel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/catalog/models/{model_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"model_id"+"}", url.PathEscape(parameterValueToString(r.modelId, "modelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCatalogListCatalogRequest struct {
	ctx                context.Context
	ApiService         *CatalogAPIService
	atContext          *int32
	search             *string
	skip               *int32
	limit              *int32
	provider           *[]*string
	vendor             *[]*string
	inputModality      *[]*string
	outputModality     *[]*string
	capability         *[]CatalogCapability
	minContext         *int32
	maxInput           *float32
	pricing            *string
	source             *string
	releasedWithinDays *int32
	sort               *string
	direction          *string
	includeFacets      *bool
}

// Compare prices for a request of this many input tokens: each model&#39;s minimum is taken from the pricing tier that request would settle at. Omitted, the base rates compare.
func (r ApiCatalogListCatalogRequest) AtContext(atContext int32) ApiCatalogListCatalogRequest {
	r.atContext = &atContext
	return r
}

// Case-insensitive text in a model&#39;s name, vendor, id, selectors, or provider instances.
func (r ApiCatalogListCatalogRequest) Search(search string) ApiCatalogListCatalogRequest {
	r.search = &search
	return r
}

// Number of matching models to skip.
func (r ApiCatalogListCatalogRequest) Skip(skip int32) ApiCatalogListCatalogRequest {
	r.skip = &skip
	return r
}

// Maximum number of models to return.
func (r ApiCatalogListCatalogRequest) Limit(limit int32) ApiCatalogListCatalogRequest {
	r.limit = &limit
	return r
}

// Match any named provider instance.
func (r ApiCatalogListCatalogRequest) Provider(provider []*string) ApiCatalogListCatalogRequest {
	r.provider = &provider
	return r
}

// Match any vendor; an empty value names unknown vendors.
func (r ApiCatalogListCatalogRequest) Vendor(vendor []*string) ApiCatalogListCatalogRequest {
	r.vendor = &vendor
	return r
}

// Require every input modality.
func (r ApiCatalogListCatalogRequest) InputModality(inputModality []*string) ApiCatalogListCatalogRequest {
	r.inputModality = &inputModality
	return r
}

// Require every output modality.
func (r ApiCatalogListCatalogRequest) OutputModality(outputModality []*string) ApiCatalogListCatalogRequest {
	r.outputModality = &outputModality
	return r
}

// Require every capability.
func (r ApiCatalogListCatalogRequest) Capability(capability []CatalogCapability) ApiCatalogListCatalogRequest {
	r.capability = &capability
	return r
}

// Minimum context window; unknown windows do not match.
func (r ApiCatalogListCatalogRequest) MinContext(minContext int32) ApiCatalogListCatalogRequest {
	r.minContext = &minContext
	return r
}

// Maximum cheapest input price per million tokens; unpriced models do not match.
func (r ApiCatalogListCatalogRequest) MaxInput(maxInput float32) ApiCatalogListCatalogRequest {
	r.maxInput = &maxInput
	return r
}

func (r ApiCatalogListCatalogRequest) Pricing(pricing string) ApiCatalogListCatalogRequest {
	r.pricing = &pricing
	return r
}

func (r ApiCatalogListCatalogRequest) Source(source string) ApiCatalogListCatalogRequest {
	r.source = &source
	return r
}

// Release window ending today (UTC); zero disables it. Unknown and future releases do not match.
func (r ApiCatalogListCatalogRequest) ReleasedWithinDays(releasedWithinDays int32) ApiCatalogListCatalogRequest {
	r.releasedWithinDays = &releasedWithinDays
	return r
}

func (r ApiCatalogListCatalogRequest) Sort(sort string) ApiCatalogListCatalogRequest {
	r.sort = &sort
	return r
}

func (r ApiCatalogListCatalogRequest) Direction(direction string) ApiCatalogListCatalogRequest {
	r.direction = &direction
	return r
}

// Include the filter choices drawn from the whole authorized catalog.
func (r ApiCatalogListCatalogRequest) IncludeFacets(includeFacets bool) ApiCatalogListCatalogRequest {
	r.includeFacets = &includeFacets
	return r
}

func (r ApiCatalogListCatalogRequest) Execute() (*CatalogResponse, *http.Response, error) {
	return r.ApiService.CatalogListCatalogExecute(r)
}

/*
CatalogListCatalog List Catalog

The models this caller may use, one entry each however many providers serve it.

Prices are the caller's: an organization's override where one applies, else
the deployment's row, else the genai-prices default. Aliases and routing
policies are not models and are not listed; see Routing. A visitor, where
the catalog is public, sees the configured instances and the hosted
models at the deployment's rates, and nothing that belongs to a tenant.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCatalogListCatalogRequest
*/
func (a *CatalogAPIService) CatalogListCatalog(ctx context.Context) ApiCatalogListCatalogRequest {
	return ApiCatalogListCatalogRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CatalogResponse
func (a *CatalogAPIService) CatalogListCatalogExecute(r ApiCatalogListCatalogRequest) (*CatalogResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CatalogListCatalog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/catalog/models"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.atContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "at_context", r.atContext, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.provider != nil {
		t := *r.provider
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "provider", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "provider", t, "form", "multi")
		}
	}
	if r.vendor != nil {
		t := *r.vendor
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "vendor", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "vendor", t, "form", "multi")
		}
	}
	if r.inputModality != nil {
		t := *r.inputModality
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "input_modality", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "input_modality", t, "form", "multi")
		}
	}
	if r.outputModality != nil {
		t := *r.outputModality
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "output_modality", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "output_modality", t, "form", "multi")
		}
	}
	if r.capability != nil {
		t := *r.capability
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "capability", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "capability", t, "form", "multi")
		}
	}
	if r.minContext != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_context", r.minContext, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "min_context", defaultValue, "form", "")
		r.minContext = &defaultValue
	}
	if r.maxInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_input", r.maxInput, "form", "")
	}
	if r.pricing != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pricing", r.pricing, "form", "")
	} else {
		var defaultValue string = "all"
		parameterAddToHeaderOrQuery(localVarQueryParams, "pricing", defaultValue, "form", "")
		r.pricing = &defaultValue
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	} else {
		var defaultValue string = "all"
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", defaultValue, "form", "")
		r.source = &defaultValue
	}
	if r.releasedWithinDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "released_within_days", r.releasedWithinDays, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "released_within_days", defaultValue, "form", "")
		r.releasedWithinDays = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "name"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	} else {
		var defaultValue string = "asc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", defaultValue, "form", "")
		r.direction = &defaultValue
	}
	if r.includeFacets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_facets", r.includeFacets, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_facets", defaultValue, "form", "")
		r.includeFacets = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCatalogRefreshSelectorIndexRequest struct {
	ctx        context.Context
	ApiService *CatalogAPIService
}

func (r ApiCatalogRefreshSelectorIndexRequest) Execute() (*SelectorIndexResponse, *http.Response, error) {
	return r.ApiService.CatalogRefreshSelectorIndexExecute(r)
}

/*
CatalogRefreshSelectorIndex Refresh Selector Index

Re-index the short spellings now, rather than on the refresher's next tick.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCatalogRefreshSelectorIndexRequest
*/
func (a *CatalogAPIService) CatalogRefreshSelectorIndex(ctx context.Context) ApiCatalogRefreshSelectorIndexRequest {
	return ApiCatalogRefreshSelectorIndexRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SelectorIndexResponse
func (a *CatalogAPIService) CatalogRefreshSelectorIndexExecute(r ApiCatalogRefreshSelectorIndexRequest) (*SelectorIndexResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SelectorIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CatalogAPIService.CatalogRefreshSelectorIndex")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/catalog/selectors/refresh"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
