/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ProviderKeysAPIService ProviderKeysAPI service
type ProviderKeysAPIService service

type ApiAddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostRequest struct {
	ctx                                      context.Context
	ApiService                               *ProviderKeysAPIService
	workspaceId                              string
	keyId                                    string
	workspaceProviderModelRestrictionRequest *WorkspaceProviderModelRestrictionRequest
}

func (r ApiAddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostRequest) WorkspaceProviderModelRestrictionRequest(workspaceProviderModelRestrictionRequest WorkspaceProviderModelRestrictionRequest) ApiAddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostRequest {
	r.workspaceProviderModelRestrictionRequest = &workspaceProviderModelRestrictionRequest
	return r
}

func (r ApiAddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostRequest) Execute() (*Message, *http.Response, error) {
	return r.ApiService.AddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostExecute(r)
}

/*
AddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPost Add Workspace Provider Key Model Restriction

Narrow this workspace's allow-list for a key to include one more model. Idempotent.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@param keyId
	@return ApiAddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostRequest
*/
func (a *ProviderKeysAPIService) AddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPost(ctx context.Context, workspaceId string, keyId string) ApiAddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostRequest {
	return ApiAddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
		keyId:       keyId,
	}
}

// Execute executes the request
//
//	@return Message
func (a *ProviderKeysAPIService) AddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostExecute(r ApiAddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPostRequest) (*Message, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Message
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.AddWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/provider-keys/{key_id}/models"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceProviderModelRestrictionRequest == nil {
		return localVarReturnValue, nil, reportError("workspaceProviderModelRestrictionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workspaceProviderModelRestrictionRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePostRequest struct {
	ctx        context.Context
	ApiService *ProviderKeysAPIService
	keyId      string
}

func (r ApiArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePostRequest) Execute() (*OrgProviderKeyPublic, *http.Response, error) {
	return r.ApiService.ArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePostExecute(r)
}

/*
ArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePost Archive Org Provider Key

Archive a key. Organization owners and admins only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId
	@return ApiArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePostRequest
*/
func (a *ProviderKeysAPIService) ArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePost(ctx context.Context, keyId string) ApiArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePostRequest {
	return ApiArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePostRequest{
		ApiService: a,
		ctx:        ctx,
		keyId:      keyId,
	}
}

// Execute executes the request
//
//	@return OrgProviderKeyPublic
func (a *ProviderKeysAPIService) ArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePostExecute(r ApiArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePostRequest) (*OrgProviderKeyPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrgProviderKeyPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.ArchiveOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdArchivePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/provider-keys/{key_id}/archive"
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateOrgProviderKeyV1OrganizationsMeProviderKeysPostRequest struct {
	ctx                         context.Context
	ApiService                  *ProviderKeysAPIService
	orgProviderKeyCreateRequest *OrgProviderKeyCreateRequest
}

func (r ApiCreateOrgProviderKeyV1OrganizationsMeProviderKeysPostRequest) OrgProviderKeyCreateRequest(orgProviderKeyCreateRequest OrgProviderKeyCreateRequest) ApiCreateOrgProviderKeyV1OrganizationsMeProviderKeysPostRequest {
	r.orgProviderKeyCreateRequest = &orgProviderKeyCreateRequest
	return r
}

func (r ApiCreateOrgProviderKeyV1OrganizationsMeProviderKeysPostRequest) Execute() (*OrgProviderKeyPublic, *http.Response, error) {
	return r.ApiService.CreateOrgProviderKeyV1OrganizationsMeProviderKeysPostExecute(r)
}

/*
CreateOrgProviderKeyV1OrganizationsMeProviderKeysPost Create Org Provider Key

Create a provider key in the caller's organization. Organization owners and admins only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateOrgProviderKeyV1OrganizationsMeProviderKeysPostRequest
*/
func (a *ProviderKeysAPIService) CreateOrgProviderKeyV1OrganizationsMeProviderKeysPost(ctx context.Context) ApiCreateOrgProviderKeyV1OrganizationsMeProviderKeysPostRequest {
	return ApiCreateOrgProviderKeyV1OrganizationsMeProviderKeysPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrgProviderKeyPublic
func (a *ProviderKeysAPIService) CreateOrgProviderKeyV1OrganizationsMeProviderKeysPostExecute(r ApiCreateOrgProviderKeyV1OrganizationsMeProviderKeysPostRequest) (*OrgProviderKeyPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrgProviderKeyPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.CreateOrgProviderKeyV1OrganizationsMeProviderKeysPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/provider-keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.orgProviderKeyCreateRequest == nil {
		return localVarReturnValue, nil, reportError("orgProviderKeyCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.orgProviderKeyCreateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDeleteRequest struct {
	ctx        context.Context
	ApiService *ProviderKeysAPIService
	keyId      string
}

func (r ApiDeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDeleteRequest) Execute() (*Message, *http.Response, error) {
	return r.ApiService.DeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDeleteExecute(r)
}

/*
DeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDelete Delete Org Provider Key

Permanently delete an archived key. Organization owners and admins only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId
	@return ApiDeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDeleteRequest
*/
func (a *ProviderKeysAPIService) DeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDelete(ctx context.Context, keyId string) ApiDeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDeleteRequest {
	return ApiDeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		keyId:      keyId,
	}
}

// Execute executes the request
//
//	@return Message
func (a *ProviderKeysAPIService) DeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDeleteExecute(r ApiDeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDeleteRequest) (*Message, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Message
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.DeleteOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/provider-keys/{key_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest struct {
	ctx             context.Context
	ApiService      *ProviderKeysAPIService
	includeArchived *bool
	skip            *int32
	limit           *int32
}

// Include archived keys.
func (r ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest) IncludeArchived(includeArchived bool) ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest {
	r.includeArchived = &includeArchived
	return r
}

// Number of records to skip
func (r ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest) Skip(skip int32) ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest {
	r.skip = &skip
	return r
}

// Maximum number of records to return
func (r ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest) Limit(limit int32) ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest) Execute() (*OrgProviderKeysPublic, *http.Response, error) {
	return r.ApiService.ListOrgProviderKeysV1OrganizationsMeProviderKeysGetExecute(r)
}

/*
ListOrgProviderKeysV1OrganizationsMeProviderKeysGet List Org Provider Keys

List the caller's organization's provider keys. Organization owners and admins only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest
*/
func (a *ProviderKeysAPIService) ListOrgProviderKeysV1OrganizationsMeProviderKeysGet(ctx context.Context) ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest {
	return ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrgProviderKeysPublic
func (a *ProviderKeysAPIService) ListOrgProviderKeysV1OrganizationsMeProviderKeysGetExecute(r ApiListOrgProviderKeysV1OrganizationsMeProviderKeysGetRequest) (*OrgProviderKeysPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrgProviderKeysPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.ListOrgProviderKeysV1OrganizationsMeProviderKeysGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/provider-keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeArchived != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_archived", r.includeArchived, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_archived", defaultValue, "form", "")
		r.includeArchived = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGetRequest struct {
	ctx         context.Context
	ApiService  *ProviderKeysAPIService
	workspaceId string
	keyId       string
}

func (r ApiListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGetRequest) Execute() (*WorkspaceProviderModelRestrictionsPublic, *http.Response, error) {
	return r.ApiService.ListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGetExecute(r)
}

/*
ListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGet List Workspace Provider Key Model Restrictions

List this workspace's model allow-list for a key. Empty means every model is allowed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@param keyId
	@return ApiListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGetRequest
*/
func (a *ProviderKeysAPIService) ListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGet(ctx context.Context, workspaceId string, keyId string) ApiListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGetRequest {
	return ApiListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGetRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
		keyId:       keyId,
	}
}

// Execute executes the request
//
//	@return WorkspaceProviderModelRestrictionsPublic
func (a *ProviderKeysAPIService) ListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGetExecute(r ApiListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGetRequest) (*WorkspaceProviderModelRestrictionsPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceProviderModelRestrictionsPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.ListWorkspaceProviderKeyModelRestrictionsV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/provider-keys/{key_id}/models"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGetRequest struct {
	ctx         context.Context
	ApiService  *ProviderKeysAPIService
	workspaceId string
}

func (r ApiListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGetRequest) Execute() (*WorkspaceProviderKeyOverridesPublic, *http.Response, error) {
	return r.ApiService.ListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGetExecute(r)
}

/*
ListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGet List Workspace Provider Keys

The effective view of every key visible to this workspace. Any member of the workspace may read it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@return ApiListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGetRequest
*/
func (a *ProviderKeysAPIService) ListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGet(ctx context.Context, workspaceId string) ApiListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGetRequest {
	return ApiListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGetRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
	}
}

// Execute executes the request
//
//	@return WorkspaceProviderKeyOverridesPublic
func (a *ProviderKeysAPIService) ListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGetExecute(r ApiListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGetRequest) (*WorkspaceProviderKeyOverridesPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceProviderKeyOverridesPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.ListWorkspaceProviderKeysV1WorkspacesWorkspaceIdProviderKeysGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/provider-keys"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDeleteRequest struct {
	ctx         context.Context
	ApiService  *ProviderKeysAPIService
	workspaceId string
	keyId       string
	model       string
}

func (r ApiRemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDeleteRequest) Execute() (*Message, *http.Response, error) {
	return r.ApiService.RemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDeleteExecute(r)
}

/*
RemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDelete Remove Workspace Provider Key Model Restriction

Remove one model from this workspace's allow-list for a key. Idempotent.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@param keyId
	@param model
	@return ApiRemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDeleteRequest
*/
func (a *ProviderKeysAPIService) RemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDelete(ctx context.Context, workspaceId string, keyId string, model string) ApiRemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDeleteRequest {
	return ApiRemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDeleteRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
		keyId:       keyId,
		model:       model,
	}
}

// Execute executes the request
//
//	@return Message
func (a *ProviderKeysAPIService) RemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDeleteExecute(r ApiRemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDeleteRequest) (*Message, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Message
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.RemoveWorkspaceProviderKeyModelRestrictionV1WorkspacesWorkspaceIdProviderKeysKeyIdModelsModelDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/provider-keys/{key_id}/models/{model}"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"model"+"}", url.PathEscape(parameterValueToString(r.model, "model")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDeleteRequest struct {
	ctx         context.Context
	ApiService  *ProviderKeysAPIService
	workspaceId string
	keyId       string
}

func (r ApiResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDeleteRequest) Execute() (*Message, *http.Response, error) {
	return r.ApiService.ResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDeleteExecute(r)
}

/*
ResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDelete Reset Workspace Provider Key Override

Remove this workspace's override, reverting to full inheritance. Idempotent.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@param keyId
	@return ApiResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDeleteRequest
*/
func (a *ProviderKeysAPIService) ResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDelete(ctx context.Context, workspaceId string, keyId string) ApiResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDeleteRequest {
	return ApiResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDeleteRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
		keyId:       keyId,
	}
}

// Execute executes the request
//
//	@return Message
func (a *ProviderKeysAPIService) ResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDeleteExecute(r ApiResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDeleteRequest) (*Message, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Message
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.ResetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/provider-keys/{key_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePostRequest struct {
	ctx        context.Context
	ApiService *ProviderKeysAPIService
	keyId      string
}

func (r ApiRestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePostRequest) Execute() (*OrgProviderKeyPublic, *http.Response, error) {
	return r.ApiService.RestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePostExecute(r)
}

/*
RestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePost Restore Org Provider Key

Restore an archived key. Organization owners and admins only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId
	@return ApiRestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePostRequest
*/
func (a *ProviderKeysAPIService) RestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePost(ctx context.Context, keyId string) ApiRestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePostRequest {
	return ApiRestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePostRequest{
		ApiService: a,
		ctx:        ctx,
		keyId:      keyId,
	}
}

// Execute executes the request
//
//	@return OrgProviderKeyPublic
func (a *ProviderKeysAPIService) RestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePostExecute(r ApiRestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePostRequest) (*OrgProviderKeyPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrgProviderKeyPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.RestoreOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdRestorePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/provider-keys/{key_id}/restore"
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPostRequest struct {
	ctx        context.Context
	ApiService *ProviderKeysAPIService
	keyId      string
}

func (r ApiSetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPostRequest) Execute() (*OrgProviderKeyPublic, *http.Response, error) {
	return r.ApiService.SetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPostExecute(r)
}

/*
SetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPost Set Org Provider Key Default

Make a key the organization's default for its provider. Organization owners and admins only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId
	@return ApiSetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPostRequest
*/
func (a *ProviderKeysAPIService) SetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPost(ctx context.Context, keyId string) ApiSetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPostRequest {
	return ApiSetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPostRequest{
		ApiService: a,
		ctx:        ctx,
		keyId:      keyId,
	}
}

// Execute executes the request
//
//	@return OrgProviderKeyPublic
func (a *ProviderKeysAPIService) SetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPostExecute(r ApiSetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPostRequest) (*OrgProviderKeyPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrgProviderKeyPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.SetOrgProviderKeyDefaultV1OrganizationsMeProviderKeysKeyIdDefaultPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/provider-keys/{key_id}/default"
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchRequest struct {
	ctx                                 context.Context
	ApiService                          *ProviderKeysAPIService
	workspaceId                         string
	keyId                               string
	workspaceProviderKeyOverrideRequest *WorkspaceProviderKeyOverrideRequest
}

func (r ApiSetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchRequest) WorkspaceProviderKeyOverrideRequest(workspaceProviderKeyOverrideRequest WorkspaceProviderKeyOverrideRequest) ApiSetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchRequest {
	r.workspaceProviderKeyOverrideRequest = &workspaceProviderKeyOverrideRequest
	return r
}

func (r ApiSetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchRequest) Execute() (*WorkspaceProviderKeyOverridePublic, *http.Response, error) {
	return r.ApiService.SetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchExecute(r)
}

/*
SetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatch Set Workspace Provider Key Override

Pin or disable a key for this workspace. Organization owners/admins or this workspace's owners/admins.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@param keyId
	@return ApiSetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchRequest
*/
func (a *ProviderKeysAPIService) SetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatch(ctx context.Context, workspaceId string, keyId string) ApiSetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchRequest {
	return ApiSetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
		keyId:       keyId,
	}
}

// Execute executes the request
//
//	@return WorkspaceProviderKeyOverridePublic
func (a *ProviderKeysAPIService) SetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchExecute(r ApiSetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatchRequest) (*WorkspaceProviderKeyOverridePublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceProviderKeyOverridePublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.SetWorkspaceProviderKeyOverrideV1WorkspacesWorkspaceIdProviderKeysKeyIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/workspaces/{workspace_id}/provider-keys/{key_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceProviderKeyOverrideRequest == nil {
		return localVarReturnValue, nil, reportError("workspaceProviderKeyOverrideRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workspaceProviderKeyOverrideRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchRequest struct {
	ctx                         context.Context
	ApiService                  *ProviderKeysAPIService
	keyId                       string
	orgProviderKeyUpdateRequest *OrgProviderKeyUpdateRequest
}

func (r ApiUpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchRequest) OrgProviderKeyUpdateRequest(orgProviderKeyUpdateRequest OrgProviderKeyUpdateRequest) ApiUpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchRequest {
	r.orgProviderKeyUpdateRequest = &orgProviderKeyUpdateRequest
	return r
}

func (r ApiUpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchRequest) Execute() (*OrgProviderKeyPublic, *http.Response, error) {
	return r.ApiService.UpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchExecute(r)
}

/*
UpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatch Update Org Provider Key

Change a key's name, credential, base URL, or client args. Organization owners and admins only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId
	@return ApiUpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchRequest
*/
func (a *ProviderKeysAPIService) UpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatch(ctx context.Context, keyId string) ApiUpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchRequest {
	return ApiUpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchRequest{
		ApiService: a,
		ctx:        ctx,
		keyId:      keyId,
	}
}

// Execute executes the request
//
//	@return OrgProviderKeyPublic
func (a *ProviderKeysAPIService) UpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchExecute(r ApiUpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatchRequest) (*OrgProviderKeyPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrgProviderKeyPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProviderKeysAPIService.UpdateOrgProviderKeyV1OrganizationsMeProviderKeysKeyIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/provider-keys/{key_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"key_id"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.orgProviderKeyUpdateRequest == nil {
		return localVarReturnValue, nil, reportError("orgProviderKeyUpdateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.orgProviderKeyUpdateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
