/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ScopedBudgetsAPIService ScopedBudgetsAPI service
type ScopedBudgetsAPIService service

type ApiCreateScopedBudgetV1ScopedBudgetsPostRequest struct {
	ctx                       context.Context
	ApiService                *ScopedBudgetsAPIService
	createScopedBudgetRequest *CreateScopedBudgetRequest
}

func (r ApiCreateScopedBudgetV1ScopedBudgetsPostRequest) CreateScopedBudgetRequest(createScopedBudgetRequest CreateScopedBudgetRequest) ApiCreateScopedBudgetV1ScopedBudgetsPostRequest {
	r.createScopedBudgetRequest = &createScopedBudgetRequest
	return r
}

func (r ApiCreateScopedBudgetV1ScopedBudgetsPostRequest) Execute() (*ScopedBudgetResponse, *http.Response, error) {
	return r.ApiService.CreateScopedBudgetV1ScopedBudgetsPostExecute(r)
}

/*
CreateScopedBudgetV1ScopedBudgetsPost Create Scoped Budget

Create a scoped budget.

Answers 404 when the scope names nothing, rather than creating a ceiling
that can never bind.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateScopedBudgetV1ScopedBudgetsPostRequest
*/
func (a *ScopedBudgetsAPIService) CreateScopedBudgetV1ScopedBudgetsPost(ctx context.Context) ApiCreateScopedBudgetV1ScopedBudgetsPostRequest {
	return ApiCreateScopedBudgetV1ScopedBudgetsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ScopedBudgetResponse
func (a *ScopedBudgetsAPIService) CreateScopedBudgetV1ScopedBudgetsPostExecute(r ApiCreateScopedBudgetV1ScopedBudgetsPostRequest) (*ScopedBudgetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedBudgetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.CreateScopedBudgetV1ScopedBudgetsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scoped-budgets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createScopedBudgetRequest == nil {
		return localVarReturnValue, nil, reportError("createScopedBudgetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createScopedBudgetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteScopedBudgetV1ScopedBudgetsBudgetIdDeleteRequest struct {
	ctx        context.Context
	ApiService *ScopedBudgetsAPIService
	budgetId   string
}

func (r ApiDeleteScopedBudgetV1ScopedBudgetsBudgetIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteScopedBudgetV1ScopedBudgetsBudgetIdDeleteExecute(r)
}

/*
DeleteScopedBudgetV1ScopedBudgetsBudgetIdDelete Delete Scoped Budget

Delete a scoped budget.

A request holding a reservation against it settles into nothing afterwards,
which is the right outcome: the ceiling no longer exists to be credited.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param budgetId
	@return ApiDeleteScopedBudgetV1ScopedBudgetsBudgetIdDeleteRequest
*/
func (a *ScopedBudgetsAPIService) DeleteScopedBudgetV1ScopedBudgetsBudgetIdDelete(ctx context.Context, budgetId string) ApiDeleteScopedBudgetV1ScopedBudgetsBudgetIdDeleteRequest {
	return ApiDeleteScopedBudgetV1ScopedBudgetsBudgetIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		budgetId:   budgetId,
	}
}

// Execute executes the request
func (a *ScopedBudgetsAPIService) DeleteScopedBudgetV1ScopedBudgetsBudgetIdDeleteExecute(r ApiDeleteScopedBudgetV1ScopedBudgetsBudgetIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.DeleteScopedBudgetV1ScopedBudgetsBudgetIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scoped-budgets/{budget_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"budget_id"+"}", url.PathEscape(parameterValueToString(r.budgetId, "budgetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetScopedBudgetV1ScopedBudgetsBudgetIdGetRequest struct {
	ctx        context.Context
	ApiService *ScopedBudgetsAPIService
	budgetId   string
}

func (r ApiGetScopedBudgetV1ScopedBudgetsBudgetIdGetRequest) Execute() (*ScopedBudgetResponse, *http.Response, error) {
	return r.ApiService.GetScopedBudgetV1ScopedBudgetsBudgetIdGetExecute(r)
}

/*
GetScopedBudgetV1ScopedBudgetsBudgetIdGet Get Scoped Budget

Get one scoped budget.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param budgetId
	@return ApiGetScopedBudgetV1ScopedBudgetsBudgetIdGetRequest
*/
func (a *ScopedBudgetsAPIService) GetScopedBudgetV1ScopedBudgetsBudgetIdGet(ctx context.Context, budgetId string) ApiGetScopedBudgetV1ScopedBudgetsBudgetIdGetRequest {
	return ApiGetScopedBudgetV1ScopedBudgetsBudgetIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		budgetId:   budgetId,
	}
}

// Execute executes the request
//
//	@return ScopedBudgetResponse
func (a *ScopedBudgetsAPIService) GetScopedBudgetV1ScopedBudgetsBudgetIdGetExecute(r ApiGetScopedBudgetV1ScopedBudgetsBudgetIdGetRequest) (*ScopedBudgetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedBudgetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.GetScopedBudgetV1ScopedBudgetsBudgetIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scoped-budgets/{budget_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"budget_id"+"}", url.PathEscape(parameterValueToString(r.budgetId, "budgetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListScopedBudgetsV1ScopedBudgetsGetRequest struct {
	ctx        context.Context
	ApiService *ScopedBudgetsAPIService
	scopeType  *string
	scopeId    *string
	skip       *int32
	limit      *int32
}

func (r ApiListScopedBudgetsV1ScopedBudgetsGetRequest) ScopeType(scopeType string) ApiListScopedBudgetsV1ScopedBudgetsGetRequest {
	r.scopeType = &scopeType
	return r
}

func (r ApiListScopedBudgetsV1ScopedBudgetsGetRequest) ScopeId(scopeId string) ApiListScopedBudgetsV1ScopedBudgetsGetRequest {
	r.scopeId = &scopeId
	return r
}

func (r ApiListScopedBudgetsV1ScopedBudgetsGetRequest) Skip(skip int32) ApiListScopedBudgetsV1ScopedBudgetsGetRequest {
	r.skip = &skip
	return r
}

func (r ApiListScopedBudgetsV1ScopedBudgetsGetRequest) Limit(limit int32) ApiListScopedBudgetsV1ScopedBudgetsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListScopedBudgetsV1ScopedBudgetsGetRequest) Execute() ([]ScopedBudgetResponse, *http.Response, error) {
	return r.ApiService.ListScopedBudgetsV1ScopedBudgetsGetExecute(r)
}

/*
ListScopedBudgetsV1ScopedBudgetsGet List Scoped Budgets

List scoped budgets, optionally filtered to one scope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListScopedBudgetsV1ScopedBudgetsGetRequest
*/
func (a *ScopedBudgetsAPIService) ListScopedBudgetsV1ScopedBudgetsGet(ctx context.Context) ApiListScopedBudgetsV1ScopedBudgetsGetRequest {
	return ApiListScopedBudgetsV1ScopedBudgetsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []ScopedBudgetResponse
func (a *ScopedBudgetsAPIService) ListScopedBudgetsV1ScopedBudgetsGetExecute(r ApiListScopedBudgetsV1ScopedBudgetsGetRequest) ([]ScopedBudgetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ScopedBudgetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.ListScopedBudgetsV1ScopedBudgetsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scoped-budgets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.scopeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope_type", r.scopeType, "form", "")
	}
	if r.scopeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope_id", r.scopeId, "form", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchRequest struct {
	ctx                       context.Context
	ApiService                *ScopedBudgetsAPIService
	budgetId                  string
	updateScopedBudgetRequest *UpdateScopedBudgetRequest
}

func (r ApiUpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchRequest) UpdateScopedBudgetRequest(updateScopedBudgetRequest UpdateScopedBudgetRequest) ApiUpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchRequest {
	r.updateScopedBudgetRequest = &updateScopedBudgetRequest
	return r
}

func (r ApiUpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchRequest) Execute() (*ScopedBudgetResponse, *http.Response, error) {
	return r.ApiService.UpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchExecute(r)
}

/*
UpdateScopedBudgetV1ScopedBudgetsBudgetIdPatch Update Scoped Budget

Relabel a ceiling, or point it at a different budget.

The scope and the provider narrowing are not editable: changing either would
move the ceiling to a different identity while carrying its spend, which is
a delete and a create, not an update.

There is no limit or period to set here any more. Both are properties of the
budget, so changing what a ceiling allows is either editing that budget,
which moves every ceiling naming it, or naming a different one.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param budgetId
	@return ApiUpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchRequest
*/
func (a *ScopedBudgetsAPIService) UpdateScopedBudgetV1ScopedBudgetsBudgetIdPatch(ctx context.Context, budgetId string) ApiUpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchRequest {
	return ApiUpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchRequest{
		ApiService: a,
		ctx:        ctx,
		budgetId:   budgetId,
	}
}

// Execute executes the request
//
//	@return ScopedBudgetResponse
func (a *ScopedBudgetsAPIService) UpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchExecute(r ApiUpdateScopedBudgetV1ScopedBudgetsBudgetIdPatchRequest) (*ScopedBudgetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScopedBudgetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedBudgetsAPIService.UpdateScopedBudgetV1ScopedBudgetsBudgetIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scoped-budgets/{budget_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"budget_id"+"}", url.PathEscape(parameterValueToString(r.budgetId, "budgetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateScopedBudgetRequest == nil {
		return localVarReturnValue, nil, reportError("updateScopedBudgetRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateScopedBudgetRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
