/*
otari-gateway

A clean FastAPI gateway for otari with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// AudioAPIService AudioAPI service
type AudioAPIService service

type ApiCreateSpeechV1AudioSpeechPostRequest struct {
	ctx                context.Context
	ApiService         *AudioAPIService
	audioSpeechRequest *AudioSpeechRequest
}

func (r ApiCreateSpeechV1AudioSpeechPostRequest) AudioSpeechRequest(audioSpeechRequest AudioSpeechRequest) ApiCreateSpeechV1AudioSpeechPostRequest {
	r.audioSpeechRequest = &audioSpeechRequest
	return r
}

func (r ApiCreateSpeechV1AudioSpeechPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateSpeechV1AudioSpeechPostExecute(r)
}

/*
CreateSpeechV1AudioSpeechPost Create Speech

OpenAI-compatible audio speech (TTS) endpoint.

Authentication modes:
- Master key + user field: Use specified user (must exist)
- API key + user field: Use specified user (must exist)
- API key without user field: Use virtual user created with API key

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSpeechV1AudioSpeechPostRequest
*/
func (a *AudioAPIService) CreateSpeechV1AudioSpeechPost(ctx context.Context) ApiCreateSpeechV1AudioSpeechPostRequest {
	return ApiCreateSpeechV1AudioSpeechPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *AudioAPIService) CreateSpeechV1AudioSpeechPostExecute(r ApiCreateSpeechV1AudioSpeechPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioAPIService.CreateSpeechV1AudioSpeechPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/speech"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.audioSpeechRequest == nil {
		return localVarReturnValue, nil, reportError("audioSpeechRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "audio/L16", "audio/aac", "audio/flac", "audio/mpeg", "audio/opus", "audio/wav"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.audioSpeechRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateTranscriptionV1AudioTranscriptionsPostRequest struct {
	ctx            context.Context
	ApiService     *AudioAPIService
	file           *string
	model          *string
	language       *string
	prompt         *string
	responseFormat *string
	temperature    *float32
	user           *string
}

func (r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) File(file string) ApiCreateTranscriptionV1AudioTranscriptionsPostRequest {
	r.file = &file
	return r
}

func (r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) Model(model string) ApiCreateTranscriptionV1AudioTranscriptionsPostRequest {
	r.model = &model
	return r
}

func (r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) Language(language string) ApiCreateTranscriptionV1AudioTranscriptionsPostRequest {
	r.language = &language
	return r
}

func (r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) Prompt(prompt string) ApiCreateTranscriptionV1AudioTranscriptionsPostRequest {
	r.prompt = &prompt
	return r
}

func (r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) ResponseFormat(responseFormat string) ApiCreateTranscriptionV1AudioTranscriptionsPostRequest {
	r.responseFormat = &responseFormat
	return r
}

func (r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) Temperature(temperature float32) ApiCreateTranscriptionV1AudioTranscriptionsPostRequest {
	r.temperature = &temperature
	return r
}

func (r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) User(user string) ApiCreateTranscriptionV1AudioTranscriptionsPostRequest {
	r.user = &user
	return r
}

func (r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateTranscriptionV1AudioTranscriptionsPostExecute(r)
}

/*
CreateTranscriptionV1AudioTranscriptionsPost Create Transcription

OpenAI-compatible audio transcription endpoint.

Authentication modes:
- Master key + user field: Use specified user (must exist)
- API key + user field: Use specified user (must exist)
- API key without user field: Use virtual user created with API key

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateTranscriptionV1AudioTranscriptionsPostRequest
*/
func (a *AudioAPIService) CreateTranscriptionV1AudioTranscriptionsPost(ctx context.Context) ApiCreateTranscriptionV1AudioTranscriptionsPostRequest {
	return ApiCreateTranscriptionV1AudioTranscriptionsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *AudioAPIService) CreateTranscriptionV1AudioTranscriptionsPostExecute(r ApiCreateTranscriptionV1AudioTranscriptionsPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AudioAPIService.CreateTranscriptionV1AudioTranscriptionsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/audio/transcriptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}
	if r.model == nil {
		return localVarReturnValue, nil, reportError("model is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "file", r.file, "", "")
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "language", r.language, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "model", r.model, "", "")
	if r.prompt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "prompt", r.prompt, "", "")
	}
	if r.responseFormat != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "response_format", r.responseFormat, "", "")
	}
	if r.temperature != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "temperature", r.temperature, "", "")
	}
	if r.user != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "user", r.user, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
