/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.12.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// WorkspaceCodeExecutionPolicyAPIService WorkspaceCodeExecutionPolicyAPI service
type WorkspaceCodeExecutionPolicyAPIService service

type ApiWorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicyRequest struct {
	ctx         context.Context
	ApiService  *WorkspaceCodeExecutionPolicyAPIService
	workspaceId string
}

func (r ApiWorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicyRequest) Execute() (*WorkspaceCodeExecutionPolicyPublic, *http.Response, error) {
	return r.ApiService.WorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicyExecute(r)
}

/*
WorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicy Clear Workspace Code Execution Policy

Drop a workspace's policy, returning it to the deployment's behavior.

Idempotent: a workspace that has no policy is already in the state this
asks for, so it answers with the unconfigured policy rather than a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@return ApiWorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicyRequest
*/
func (a *WorkspaceCodeExecutionPolicyAPIService) WorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicy(ctx context.Context, workspaceId string) ApiWorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicyRequest {
	return ApiWorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicyRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
	}
}

// Execute executes the request
//
//	@return WorkspaceCodeExecutionPolicyPublic
func (a *WorkspaceCodeExecutionPolicyAPIService) WorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicyExecute(r ApiWorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicyRequest) (*WorkspaceCodeExecutionPolicyPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceCodeExecutionPolicyPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceCodeExecutionPolicyAPIService.WorkspaceCodeExecutionPolicyClearWorkspaceCodeExecutionPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/workspaces/{workspace_id}/code-execution-policy"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicyRequest struct {
	ctx         context.Context
	ApiService  *WorkspaceCodeExecutionPolicyAPIService
	workspaceId string
}

func (r ApiWorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicyRequest) Execute() (*WorkspaceCodeExecutionPolicyPublic, *http.Response, error) {
	return r.ApiService.WorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicyExecute(r)
}

/*
WorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicy Get Workspace Code Execution Policy

Read a workspace's code-execution policy.

Takes the same role as setting it (an organization owner/admin, or an
owner/admin of this workspace), because the policy describes the
workspace's security and billing posture rather than one member's
allowance. A workspace with no policy answers with the unconfigured one
(“configured: false“), which is the deployment's own behavior described
in the same shape rather than a 404.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@return ApiWorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicyRequest
*/
func (a *WorkspaceCodeExecutionPolicyAPIService) WorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicy(ctx context.Context, workspaceId string) ApiWorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicyRequest {
	return ApiWorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicyRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
	}
}

// Execute executes the request
//
//	@return WorkspaceCodeExecutionPolicyPublic
func (a *WorkspaceCodeExecutionPolicyAPIService) WorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicyExecute(r ApiWorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicyRequest) (*WorkspaceCodeExecutionPolicyPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceCodeExecutionPolicyPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceCodeExecutionPolicyAPIService.WorkspaceCodeExecutionPolicyGetWorkspaceCodeExecutionPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/workspaces/{workspace_id}/code-execution-policy"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyRequest struct {
	ctx                                context.Context
	ApiService                         *WorkspaceCodeExecutionPolicyAPIService
	workspaceId                        string
	workspaceCodeExecutionPolicyUpdate *WorkspaceCodeExecutionPolicyUpdate
}

func (r ApiWorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyRequest) WorkspaceCodeExecutionPolicyUpdate(workspaceCodeExecutionPolicyUpdate WorkspaceCodeExecutionPolicyUpdate) ApiWorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyRequest {
	r.workspaceCodeExecutionPolicyUpdate = &workspaceCodeExecutionPolicyUpdate
	return r
}

func (r ApiWorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyRequest) Execute() (*WorkspaceCodeExecutionPolicyPublic, *http.Response, error) {
	return r.ApiService.WorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyExecute(r)
}

/*
WorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicy Set Workspace Code Execution Policy

Set a workspace's code-execution policy, replacing any existing one.

An organization owner/admin, or an owner/admin of this workspace, may
write it. The policy can only narrow what the deployment permits: turning
code execution off for the workspace, lowering the loop and execution
ceilings, and removing tool kinds from what the sandbox backend serves. It
never turns a sandbox the deployment has not configured on, and “image“
may only name one the operator curated (“allowed_images“ on the response
reports the set); anything else is refused with 400.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workspaceId
	@return ApiWorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyRequest
*/
func (a *WorkspaceCodeExecutionPolicyAPIService) WorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicy(ctx context.Context, workspaceId string) ApiWorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyRequest {
	return ApiWorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyRequest{
		ApiService:  a,
		ctx:         ctx,
		workspaceId: workspaceId,
	}
}

// Execute executes the request
//
//	@return WorkspaceCodeExecutionPolicyPublic
func (a *WorkspaceCodeExecutionPolicyAPIService) WorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyExecute(r ApiWorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicyRequest) (*WorkspaceCodeExecutionPolicyPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkspaceCodeExecutionPolicyPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceCodeExecutionPolicyAPIService.WorkspaceCodeExecutionPolicySetWorkspaceCodeExecutionPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/workspaces/{workspace_id}/code-execution-policy"
	localVarPath = strings.Replace(localVarPath, "{"+"workspace_id"+"}", url.PathEscape(parameterValueToString(r.workspaceId, "workspaceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workspaceCodeExecutionPolicyUpdate == nil {
		return localVarReturnValue, nil, reportError("workspaceCodeExecutionPolicyUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workspaceCodeExecutionPolicyUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
