/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.12.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// OrganizationGuardrailDefinitionsAPIService OrganizationGuardrailDefinitionsAPI service
type OrganizationGuardrailDefinitionsAPIService service

type ApiOrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionRequest struct {
	ctx                                   context.Context
	ApiService                            *OrganizationGuardrailDefinitionsAPIService
	organizationGuardrailDefinitionCreate *OrganizationGuardrailDefinitionCreate
}

func (r ApiOrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionRequest) OrganizationGuardrailDefinitionCreate(organizationGuardrailDefinitionCreate OrganizationGuardrailDefinitionCreate) ApiOrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionRequest {
	r.organizationGuardrailDefinitionCreate = &organizationGuardrailDefinitionCreate
	return r
}

func (r ApiOrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionRequest) Execute() (*OrganizationGuardrailDefinitionPublic, *http.Response, error) {
	return r.ApiService.OrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionExecute(r)
}

/*
OrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinition Create Organization Guardrail Definition

Define a guardrail this deployment will build and call itself. Organization owners and admins only.

“guardrail_name“ must be one the built-in guardrail catalog lists
(“GET /api/v1/tool-settings/guardrails/catalog“), and
“create_kwargs“ must satisfy that guardrail's constructor as the catalog
describes it: no argument it does not declare, nothing it types as a live
object rather than configuration, and every required argument no environment
variable can supply. Arguments the catalog marks secret are encrypted at
rest.

A definition on its own changes no request. Mandate it through
“/api/v1/organizations/me/guardrails“ for it to run.

The definition is saved first and built second, so a guardrail this
deployment cannot construct is still stored and answers “build_state:
"failed"“ rather than refusing the write. Why it failed is not reported: a
vendor library may put the arguments it was handed, which are your
credentials, into its own error message. The reason is in the gateway's log.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionRequest
*/
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinition(ctx context.Context) ApiOrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionRequest {
	return ApiOrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrganizationGuardrailDefinitionPublic
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionExecute(r ApiOrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinitionRequest) (*OrganizationGuardrailDefinitionPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationGuardrailDefinitionPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationGuardrailDefinitionsAPIService.OrganizationGuardrailDefinitionsCreateOrganizationGuardrailDefinition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/guardrail-definitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationGuardrailDefinitionCreate == nil {
		return localVarReturnValue, nil, reportError("organizationGuardrailDefinitionCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationGuardrailDefinitionCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionRequest struct {
	ctx          context.Context
	ApiService   *OrganizationGuardrailDefinitionsAPIService
	definitionId string
}

func (r ApiOrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionRequest) Execute() (*Message, *http.Response, error) {
	return r.ApiService.OrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionExecute(r)
}

/*
OrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinition Delete Organization Guardrail Definition

Drop a definition and the credentials it holds.

Organization owners and admins only. Use “enabled: false“ instead to stop
the guardrail everywhere while keeping both.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId
	@return ApiOrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionRequest
*/
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinition(ctx context.Context, definitionId string) ApiOrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionRequest {
	return ApiOrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionRequest{
		ApiService:   a,
		ctx:          ctx,
		definitionId: definitionId,
	}
}

// Execute executes the request
//
//	@return Message
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionExecute(r ApiOrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinitionRequest) (*Message, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Message
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationGuardrailDefinitionsAPIService.OrganizationGuardrailDefinitionsDeleteOrganizationGuardrailDefinition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/guardrail-definitions/{definition_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"definition_id"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest struct {
	ctx        context.Context
	ApiService *OrganizationGuardrailDefinitionsAPIService
	skip       *int32
	limit      *int32
}

// Number of records to skip
func (r ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest) Skip(skip int32) ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest {
	r.skip = &skip
	return r
}

// Maximum number of records to return
func (r ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest) Limit(limit int32) ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest {
	r.limit = &limit
	return r
}

func (r ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest) Execute() (*OrganizationGuardrailDefinitionsPublic, *http.Response, error) {
	return r.ApiService.OrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsExecute(r)
}

/*
OrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitions List Organization Guardrail Definitions

List the guardrails the caller's organization has defined.

Organization owners and admins only. A stored vendor credential is never
returned: each one comes back as “***“ under its own name, which is what a
form resubmits to keep it.

“build_state“ answers for the worker that served this request, so a read
taken moments after a write may still report “pending“ on a sibling that
has not caught up.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest
*/
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitions(ctx context.Context) ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest {
	return ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrganizationGuardrailDefinitionsPublic
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsExecute(r ApiOrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitionsRequest) (*OrganizationGuardrailDefinitionsPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationGuardrailDefinitionsPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationGuardrailDefinitionsAPIService.OrganizationGuardrailDefinitionsListOrganizationGuardrailDefinitions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/guardrail-definitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionRequest struct {
	ctx                                 context.Context
	ApiService                          *OrganizationGuardrailDefinitionsAPIService
	definitionId                        string
	organizationGuardrailDefinitionTest *OrganizationGuardrailDefinitionTest
}

func (r ApiOrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionRequest) OrganizationGuardrailDefinitionTest(organizationGuardrailDefinitionTest OrganizationGuardrailDefinitionTest) ApiOrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionRequest {
	r.organizationGuardrailDefinitionTest = &organizationGuardrailDefinitionTest
	return r
}

func (r ApiOrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionRequest) Execute() (*OrganizationGuardrailDefinitionTestResult, *http.Response, error) {
	return r.ApiService.OrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionExecute(r)
}

/*
OrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinition Test Organization Guardrail Definition

Run a definition's guardrail over some text and return its verdict.

Organization owners and admins only. The guardrail is the one the worker
that answered already holds built, so this tests what is running rather
than building it again. Nothing is stored and no mandate is involved;
“validate_kwargs“ stands in for what a mandate would pass with each
check.

A definition this worker does not hold built answers 409, and its
“build_state“ says why. A vendor call that fails answers 502, and the
reason is in the gateway's log only: a vendor library may put the
credentials it was handed into its own message.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId
	@return ApiOrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionRequest
*/
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinition(ctx context.Context, definitionId string) ApiOrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionRequest {
	return ApiOrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionRequest{
		ApiService:   a,
		ctx:          ctx,
		definitionId: definitionId,
	}
}

// Execute executes the request
//
//	@return OrganizationGuardrailDefinitionTestResult
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionExecute(r ApiOrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinitionRequest) (*OrganizationGuardrailDefinitionTestResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationGuardrailDefinitionTestResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationGuardrailDefinitionsAPIService.OrganizationGuardrailDefinitionsTestOrganizationGuardrailDefinition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/guardrail-definitions/{definition_id}/test"
	localVarPath = strings.Replace(localVarPath, "{"+"definition_id"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationGuardrailDefinitionTest == nil {
		return localVarReturnValue, nil, reportError("organizationGuardrailDefinitionTest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationGuardrailDefinitionTest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionRequest struct {
	ctx                                   context.Context
	ApiService                            *OrganizationGuardrailDefinitionsAPIService
	definitionId                          string
	organizationGuardrailDefinitionUpdate *OrganizationGuardrailDefinitionUpdate
}

func (r ApiOrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionRequest) OrganizationGuardrailDefinitionUpdate(organizationGuardrailDefinitionUpdate OrganizationGuardrailDefinitionUpdate) ApiOrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionRequest {
	r.organizationGuardrailDefinitionUpdate = &organizationGuardrailDefinitionUpdate
	return r
}

func (r ApiOrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionRequest) Execute() (*OrganizationGuardrailDefinitionPublic, *http.Response, error) {
	return r.ApiService.OrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionExecute(r)
}

/*
OrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinition Update Organization Guardrail Definition

Change a definition's name, guardrail, build arguments, or enabled flag.

Organization owners and admins only. Omitted fields are left as they are.
“create_kwargs“ replaces the arguments whole when sent, an argument sent as
“***“ keeps the value stored under that name, and omitting the field
entirely leaves the stored credentials untouched and unread.

The guardrail is rebuilt afterwards and the response reports the outcome in
“build_state“, so repairing a credential shows the definition running
again in the same response, and “enabled: false“ stops it here rather than
on the next refresh.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param definitionId
	@return ApiOrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionRequest
*/
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinition(ctx context.Context, definitionId string) ApiOrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionRequest {
	return ApiOrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionRequest{
		ApiService:   a,
		ctx:          ctx,
		definitionId: definitionId,
	}
}

// Execute executes the request
//
//	@return OrganizationGuardrailDefinitionPublic
func (a *OrganizationGuardrailDefinitionsAPIService) OrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionExecute(r ApiOrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinitionRequest) (*OrganizationGuardrailDefinitionPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationGuardrailDefinitionPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationGuardrailDefinitionsAPIService.OrganizationGuardrailDefinitionsUpdateOrganizationGuardrailDefinition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/me/guardrail-definitions/{definition_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"definition_id"+"}", url.PathEscape(parameterValueToString(r.definitionId, "definitionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationGuardrailDefinitionUpdate == nil {
		return localVarReturnValue, nil, reportError("organizationGuardrailDefinitionUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationGuardrailDefinitionUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
