/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ResponsesAPIService ResponsesAPI service
type ResponsesAPIService service

type ApiCreateResponseV1ResponsesPostRequest struct {
	ctx              context.Context
	ApiService       *ResponsesAPIService
	responsesRequest *ResponsesRequest
}

func (r ApiCreateResponseV1ResponsesPostRequest) ResponsesRequest(responsesRequest ResponsesRequest) ApiCreateResponseV1ResponsesPostRequest {
	r.responsesRequest = &responsesRequest
	return r
}

func (r ApiCreateResponseV1ResponsesPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateResponseV1ResponsesPostExecute(r)
}

/*
CreateResponseV1ResponsesPost Create Response

OpenAI-compatible Responses endpoint.

Supports MCP tool-use loops, sandboxed code execution, and SearXNG
web_search in both standalone mode and hybrid mode. Hybrid-mode
requests resolve credentials via the platform service and (for
non-tool-loop requests) get multi-attempt fallback across the resolved
route. Tool-loop requests collapse to a single attempt — once
“on_first_response“ lock-in plumbing lands across the codebase, a
follow-up will enable pre-lock-in fallback for tool-loop requests too.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateResponseV1ResponsesPostRequest
*/
func (a *ResponsesAPIService) CreateResponseV1ResponsesPost(ctx context.Context) ApiCreateResponseV1ResponsesPostRequest {
	return ApiCreateResponseV1ResponsesPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return interface{}
func (a *ResponsesAPIService) CreateResponseV1ResponsesPostExecute(r ApiCreateResponseV1ResponsesPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResponsesAPIService.CreateResponseV1ResponsesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/responses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.responsesRequest == nil {
		return localVarReturnValue, nil, reportError("responsesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.responsesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
