/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// OrganizationPricingAPIService OrganizationPricingAPI service
type OrganizationPricingAPIService service

type ApiCreateOrganizationPricingV1OrganizationsMePricingPostRequest struct {
	ctx                            context.Context
	ApiService                     *OrganizationPricingAPIService
	organizationModelPricingCreate *OrganizationModelPricingCreate
}

func (r ApiCreateOrganizationPricingV1OrganizationsMePricingPostRequest) OrganizationModelPricingCreate(organizationModelPricingCreate OrganizationModelPricingCreate) ApiCreateOrganizationPricingV1OrganizationsMePricingPostRequest {
	r.organizationModelPricingCreate = &organizationModelPricingCreate
	return r
}

func (r ApiCreateOrganizationPricingV1OrganizationsMePricingPostRequest) Execute() (*OrganizationModelPricingPublic, *http.Response, error) {
	return r.ApiService.CreateOrganizationPricingV1OrganizationsMePricingPostExecute(r)
}

/*
CreateOrganizationPricingV1OrganizationsMePricingPost Create Organization Pricing

Set the organization's rate for a model over a period.

Refused with a 409 when the period overlaps one already stored for that model,
naming the period it collides with, rather than shadowing it.

The key is normalized to its canonical “instance:model“ form first, the same
call “POST /v1/pricing“ makes, and that is what makes one model one row
rather than one per spelling. Stored verbatim, “openai:gpt-4o“ and
“openai/gpt-4o“ are two keys: the overlap rule would not see them as
colliding, and both would resolve, with the canonical one preferred, leaving
the other dormant until the first is deleted. Normalizing on the way in is
what stops that pair existing at all.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateOrganizationPricingV1OrganizationsMePricingPostRequest
*/
func (a *OrganizationPricingAPIService) CreateOrganizationPricingV1OrganizationsMePricingPost(ctx context.Context) ApiCreateOrganizationPricingV1OrganizationsMePricingPostRequest {
	return ApiCreateOrganizationPricingV1OrganizationsMePricingPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrganizationModelPricingPublic
func (a *OrganizationPricingAPIService) CreateOrganizationPricingV1OrganizationsMePricingPostExecute(r ApiCreateOrganizationPricingV1OrganizationsMePricingPostRequest) (*OrganizationModelPricingPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationModelPricingPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationPricingAPIService.CreateOrganizationPricingV1OrganizationsMePricingPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/pricing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationModelPricingCreate == nil {
		return localVarReturnValue, nil, reportError("organizationModelPricingCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationModelPricingCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteOrganizationPricingV1OrganizationsMePricingPricingIdDeleteRequest struct {
	ctx        context.Context
	ApiService *OrganizationPricingAPIService
	pricingId  string
}

func (r ApiDeleteOrganizationPricingV1OrganizationsMePricingPricingIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteOrganizationPricingV1OrganizationsMePricingPricingIdDeleteExecute(r)
}

/*
DeleteOrganizationPricingV1OrganizationsMePricingPricingIdDelete Delete Organization Pricing

Remove an override, returning the model to the deployment price list.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param pricingId
	@return ApiDeleteOrganizationPricingV1OrganizationsMePricingPricingIdDeleteRequest
*/
func (a *OrganizationPricingAPIService) DeleteOrganizationPricingV1OrganizationsMePricingPricingIdDelete(ctx context.Context, pricingId string) ApiDeleteOrganizationPricingV1OrganizationsMePricingPricingIdDeleteRequest {
	return ApiDeleteOrganizationPricingV1OrganizationsMePricingPricingIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		pricingId:  pricingId,
	}
}

// Execute executes the request
func (a *OrganizationPricingAPIService) DeleteOrganizationPricingV1OrganizationsMePricingPricingIdDeleteExecute(r ApiDeleteOrganizationPricingV1OrganizationsMePricingPricingIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationPricingAPIService.DeleteOrganizationPricingV1OrganizationsMePricingPricingIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/pricing/{pricing_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pricing_id"+"}", url.PathEscape(parameterValueToString(r.pricingId, "pricingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListOrganizationPricingV1OrganizationsMePricingGetRequest struct {
	ctx        context.Context
	ApiService *OrganizationPricingAPIService
	skip       *int32
	limit      *int32
}

// Number of records to skip
func (r ApiListOrganizationPricingV1OrganizationsMePricingGetRequest) Skip(skip int32) ApiListOrganizationPricingV1OrganizationsMePricingGetRequest {
	r.skip = &skip
	return r
}

// Maximum number of records to return
func (r ApiListOrganizationPricingV1OrganizationsMePricingGetRequest) Limit(limit int32) ApiListOrganizationPricingV1OrganizationsMePricingGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListOrganizationPricingV1OrganizationsMePricingGetRequest) Execute() (*OrganizationModelPricingsPublic, *http.Response, error) {
	return r.ApiService.ListOrganizationPricingV1OrganizationsMePricingGetExecute(r)
}

/*
ListOrganizationPricingV1OrganizationsMePricingGet List Organization Pricing

List the organization's rate overrides.

Readable by any member: these rates decide what the caller's own requests
cost, so they are not withheld from the people billed at them. Writing needs
an owner or admin.

Paged on the same bounds the rest of the tenancy surface uses, because the
table grows a row per model per period. “count“ is the total, so a client
knows whether another page is owed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListOrganizationPricingV1OrganizationsMePricingGetRequest
*/
func (a *OrganizationPricingAPIService) ListOrganizationPricingV1OrganizationsMePricingGet(ctx context.Context) ApiListOrganizationPricingV1OrganizationsMePricingGetRequest {
	return ApiListOrganizationPricingV1OrganizationsMePricingGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrganizationModelPricingsPublic
func (a *OrganizationPricingAPIService) ListOrganizationPricingV1OrganizationsMePricingGetExecute(r ApiListOrganizationPricingV1OrganizationsMePricingGetRequest) (*OrganizationModelPricingsPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationModelPricingsPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationPricingAPIService.ListOrganizationPricingV1OrganizationsMePricingGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/pricing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
		r.skip = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutRequest struct {
	ctx                            context.Context
	ApiService                     *OrganizationPricingAPIService
	pricingId                      string
	organizationModelPricingUpdate *OrganizationModelPricingUpdate
}

func (r ApiReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutRequest) OrganizationModelPricingUpdate(organizationModelPricingUpdate OrganizationModelPricingUpdate) ApiReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutRequest {
	r.organizationModelPricingUpdate = &organizationModelPricingUpdate
	return r
}

func (r ApiReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutRequest) Execute() (*OrganizationModelPricingPublic, *http.Response, error) {
	return r.ApiService.ReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutExecute(r)
}

/*
ReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPut Replace Organization Pricing

Replace an override's rates and period.

Future requests in the period price at the new rate; usage already settled
keeps the cost it was billed, because a settled cost is stored on the usage
row rather than recomputed.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param pricingId
	@return ApiReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutRequest
*/
func (a *OrganizationPricingAPIService) ReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPut(ctx context.Context, pricingId string) ApiReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutRequest {
	return ApiReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		pricingId:  pricingId,
	}
}

// Execute executes the request
//
//	@return OrganizationModelPricingPublic
func (a *OrganizationPricingAPIService) ReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutExecute(r ApiReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPutRequest) (*OrganizationModelPricingPublic, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrganizationModelPricingPublic
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationPricingAPIService.ReplaceOrganizationPricingV1OrganizationsMePricingPricingIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/organizations/me/pricing/{pricing_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pricing_id"+"}", url.PathEscape(parameterValueToString(r.pricingId, "pricingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.organizationModelPricingUpdate == nil {
		return localVarReturnValue, nil, reportError("organizationModelPricingUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.organizationModelPricingUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
