/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.6.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// WebSearchAPIService WebSearchAPI service
type WebSearchAPIService service

type ApiWebSearchWebSearchRequest struct {
	ctx           context.Context
	ApiService    *WebSearchAPIService
	q             *string
	maxResults    *int32
	searchDepth   *string
	topic         *string
	timeRange     *string
	includeAnswer *bool
	xGatewayToken *string
}

// The search query.
func (r ApiWebSearchWebSearchRequest) Q(q string) ApiWebSearchWebSearchRequest {
	r.q = &q
	return r
}

func (r ApiWebSearchWebSearchRequest) MaxResults(maxResults int32) ApiWebSearchWebSearchRequest {
	r.maxResults = &maxResults
	return r
}

func (r ApiWebSearchWebSearchRequest) SearchDepth(searchDepth string) ApiWebSearchWebSearchRequest {
	r.searchDepth = &searchDepth
	return r
}

func (r ApiWebSearchWebSearchRequest) Topic(topic string) ApiWebSearchWebSearchRequest {
	r.topic = &topic
	return r
}

func (r ApiWebSearchWebSearchRequest) TimeRange(timeRange string) ApiWebSearchWebSearchRequest {
	r.timeRange = &timeRange
	return r
}

func (r ApiWebSearchWebSearchRequest) IncludeAnswer(includeAnswer bool) ApiWebSearchWebSearchRequest {
	r.includeAnswer = &includeAnswer
	return r
}

func (r ApiWebSearchWebSearchRequest) XGatewayToken(xGatewayToken string) ApiWebSearchWebSearchRequest {
	r.xGatewayToken = &xGatewayToken
	return r
}

func (r ApiWebSearchWebSearchRequest) Execute() (*WebSearchBackendResponse, *http.Response, error) {
	return r.ApiService.WebSearchWebSearchExecute(r)
}

/*
WebSearchWebSearch Web Search

Run one search through this deployment's configured search provider.

The declared query params are the “provider_options“ keys the providers
understand. Everything else the caller sends, “format“ and “engines“
included, is ignored rather than forwarded: the bag is opaque to the gateway
that filled it, so passing it upstream unread would let a workspace set
provider request fields this deployment never chose.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiWebSearchWebSearchRequest
*/
func (a *WebSearchAPIService) WebSearchWebSearch(ctx context.Context) ApiWebSearchWebSearchRequest {
	return ApiWebSearchWebSearchRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return WebSearchBackendResponse
func (a *WebSearchAPIService) WebSearchWebSearchExecute(r ApiWebSearchWebSearchRequest) (*WebSearchBackendResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WebSearchBackendResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebSearchAPIService.WebSearchWebSearch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/web-search/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}
	if strlen(*r.q) < 1 {
		return localVarReturnValue, nil, reportError("q must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.maxResults != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max_results", r.maxResults, "form", "")
	}
	if r.searchDepth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_depth", r.searchDepth, "form", "")
	}
	if r.topic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topic", r.topic, "form", "")
	}
	if r.timeRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_range", r.timeRange, "form", "")
	}
	if r.includeAnswer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_answer", r.includeAnswer, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xGatewayToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-gateway-token", r.xGatewayToken, "simple", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["GatewayTokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Gateway-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
