/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ModerationsAPIService ModerationsAPI service
type ModerationsAPIService service

type ApiCreateModerationV1ModerationsPostRequest struct {
	ctx               context.Context
	ApiService        *ModerationsAPIService
	moderationRequest *ModerationRequest
	includeRaw        *bool
}

func (r ApiCreateModerationV1ModerationsPostRequest) ModerationRequest(moderationRequest ModerationRequest) ApiCreateModerationV1ModerationsPostRequest {
	r.moderationRequest = &moderationRequest
	return r
}

func (r ApiCreateModerationV1ModerationsPostRequest) IncludeRaw(includeRaw bool) ApiCreateModerationV1ModerationsPostRequest {
	r.includeRaw = &includeRaw
	return r
}

func (r ApiCreateModerationV1ModerationsPostRequest) Execute() (*ModerationResponse, *http.Response, error) {
	return r.ApiService.CreateModerationV1ModerationsPostExecute(r)
}

/*
CreateModerationV1ModerationsPost Create Moderation

OpenAI-compatible moderations endpoint.

Authentication modes:
- Master key + user field: Use specified user (must exist)
- API key + user field: Use specified user (must exist)
- API key without user field: Use virtual user created with API key

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateModerationV1ModerationsPostRequest
*/
func (a *ModerationsAPIService) CreateModerationV1ModerationsPost(ctx context.Context) ApiCreateModerationV1ModerationsPostRequest {
	return ApiCreateModerationV1ModerationsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModerationResponse
func (a *ModerationsAPIService) CreateModerationV1ModerationsPostExecute(r ApiCreateModerationV1ModerationsPostRequest) (*ModerationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModerationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModerationsAPIService.CreateModerationV1ModerationsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/moderations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.moderationRequest == nil {
		return localVarReturnValue, nil, reportError("moderationRequest is required and must be specified")
	}

	if r.includeRaw != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_raw", r.includeRaw, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_raw", defaultValue, "form", "")
		r.includeRaw = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.moderationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
