/*
otari

Otari, an OpenAI-compatible LLM gateway with API key management

API version: 0.0.0-dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"time"
)

// AgentTelemetryAPIService AgentTelemetryAPI service
type AgentTelemetryAPIService service

type ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest struct {
	ctx        context.Context
	ApiService *AgentTelemetryAPIService
	groupBy    *string
	startDate  *time.Time
	endDate    *time.Time
	userId     *[]string
	apiKeyId   *[]string
	name       *string
	bucket     *string
}

// Dimension to split the series by
func (r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) GroupBy(groupBy string) ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest {
	r.groupBy = &groupBy
	return r
}

// Return rows with timestamp &gt;&#x3D; start_date (ISO 8601 or Unix epoch seconds)
func (r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) StartDate(startDate time.Time) ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest {
	r.startDate = &startDate
	return r
}

// Return rows with timestamp &lt; end_date (ISO 8601 or Unix epoch seconds)
func (r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) EndDate(endDate time.Time) ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest {
	r.endDate = &endDate
	return r
}

// Filter to one or more users; repeatable (user_id&#x3D;a&amp;user_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) UserId(userId []string) ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest {
	r.userId = &userId
	return r
}

// Filter to one or more API key ids; repeatable (api_key_id&#x3D;a&amp;api_key_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) ApiKeyId(apiKeyId []string) ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest {
	r.apiKeyId = &apiKeyId
	return r
}

// Filter to a single event type or metric name (e.g. &#39;tool_result&#39;, &#39;claude_code.commit.count&#39;)
func (r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) Name(name string) ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest {
	r.name = &name
	return r
}

// Time-series granularity: &#39;hour&#39; or &#39;day&#39;
func (r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) Bucket(bucket string) ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest {
	r.bucket = &bucket
	return r
}

func (r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) Execute() (*AgentTelemetryGroupedSeries, *http.Response, error) {
	return r.ApiService.AgentTelemetrySeriesV1AgentTelemetrySeriesGetExecute(r)
}

/*
AgentTelemetrySeriesV1AgentTelemetrySeriesGet Agent Telemetry Series

Row volume over time, split by user or API key (standalone).

Mirrors `/v1/usage/series`: same window bounds and bucket-grid cap, the top
groups as their own series with the remainder folded into a reconciling
“other“, and sparse points (populated cells only). Counts rows, not spend,
so it charts telemetry volume rather than cost. Master-key only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest
*/
func (a *AgentTelemetryAPIService) AgentTelemetrySeriesV1AgentTelemetrySeriesGet(ctx context.Context) ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest {
	return ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgentTelemetryGroupedSeries
func (a *AgentTelemetryAPIService) AgentTelemetrySeriesV1AgentTelemetrySeriesGetExecute(r ApiAgentTelemetrySeriesV1AgentTelemetrySeriesGetRequest) (*AgentTelemetryGroupedSeries, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentTelemetryGroupedSeries
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentTelemetryAPIService.AgentTelemetrySeriesV1AgentTelemetrySeriesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agent-telemetry/series"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.groupBy == nil {
		return localVarReturnValue, nil, reportError("groupBy is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "group_by", r.groupBy, "form", "")
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.userId != nil {
		t := *r.userId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", t, "form", "multi")
		}
	}
	if r.apiKeyId != nil {
		t := *r.apiKeyId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", t, "form", "multi")
		}
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.bucket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", r.bucket, "form", "")
	} else {
		var defaultValue string = "day"
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", defaultValue, "form", "")
		r.bucket = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest struct {
	ctx          context.Context
	ApiService   *AgentTelemetryAPIService
	startDate    *time.Time
	endDate      *time.Time
	userId       *[]string
	apiKeyId     *[]string
	sessionLabel *string
	bucket       *string
}

// Return rows with timestamp &gt;&#x3D; start_date (ISO 8601 or Unix epoch seconds)
func (r ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest) StartDate(startDate time.Time) ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest {
	r.startDate = &startDate
	return r
}

// Return rows with timestamp &lt; end_date (ISO 8601 or Unix epoch seconds)
func (r ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest) EndDate(endDate time.Time) ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest {
	r.endDate = &endDate
	return r
}

// Filter to one or more users; repeatable (user_id&#x3D;a&amp;user_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest) UserId(userId []string) ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest {
	r.userId = &userId
	return r
}

// Filter to one or more API key ids; repeatable (api_key_id&#x3D;a&amp;api_key_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest) ApiKeyId(apiKeyId []string) ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest {
	r.apiKeyId = &apiKeyId
	return r
}

// Filter to a single agent session. Matches agent_telemetry.session_label and, on the usage side of the join, the usage_logs.source_label that /v1/usage/summary filters on
func (r ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest) SessionLabel(sessionLabel string) ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest {
	r.sessionLabel = &sessionLabel
	return r
}

// Time-series granularity: &#39;hour&#39; or &#39;day&#39;
func (r ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest) Bucket(bucket string) ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest {
	r.bucket = &bucket
	return r
}

func (r ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest) Execute() (*AgentTelemetrySummary, *http.Response, error) {
	return r.ApiService.AgentTelemetrySummaryV1AgentTelemetrySummaryGetExecute(r)
}

/*
AgentTelemetrySummaryV1AgentTelemetrySummaryGet Agent Telemetry Summary

What the coding agent produced in a window, and what it cost (standalone).

Range-bounded like `/v1/usage/summary` (default last 30 days, hard-capped),
so the aggregates stay served by the timestamp index. Returns the outcome
totals (commits, pull requests, lines changed, active time), the behavioral
counts already captured from the logs signal (tool calls and their mix, tool
accept/reject, turns, API errors), the recorded spend over the same scope,
and the derived per-unit measures: cost per commit / pull request / line,
spend per active hour, acceptance rate, turns per session, and error rate.
Each measure is null rather than an error when its denominator is zero.
Filterable by user, API key, and `session_label`, so cost per outcome can be
read for one agent session as well as for a whole window.

The spend side is every usage row in scope, not only the agent's: unfiltered,
that includes traffic from clients that never reported telemetry, so a
per-outcome measure read over a whole deployment answers "what did this
deployment spend per commit", not "what did the agent spend per commit".
Filter by user, API key, or session to divide only the matching spend.

Outcome metrics are stored exactly as the agent reported them, so a
cumulative counter is converted to a window increment here, at read time,
diffed per series generation: a re-exported total adds nothing, and a counter
reset never reads as negative work. Master-key only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest
*/
func (a *AgentTelemetryAPIService) AgentTelemetrySummaryV1AgentTelemetrySummaryGet(ctx context.Context) ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest {
	return ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgentTelemetrySummary
func (a *AgentTelemetryAPIService) AgentTelemetrySummaryV1AgentTelemetrySummaryGetExecute(r ApiAgentTelemetrySummaryV1AgentTelemetrySummaryGetRequest) (*AgentTelemetrySummary, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentTelemetrySummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentTelemetryAPIService.AgentTelemetrySummaryV1AgentTelemetrySummaryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agent-telemetry/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.userId != nil {
		t := *r.userId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", t, "form", "multi")
		}
	}
	if r.apiKeyId != nil {
		t := *r.apiKeyId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", t, "form", "multi")
		}
	}
	if r.sessionLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_label", r.sessionLabel, "form", "")
	}
	if r.bucket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", r.bucket, "form", "")
	} else {
		var defaultValue string = "day"
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", defaultValue, "form", "")
		r.bucket = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest struct {
	ctx        context.Context
	ApiService *AgentTelemetryAPIService
	startDate  *time.Time
	endDate    *time.Time
	userId     *[]string
	apiKeyId   *[]string
	name       *string
}

// Return rows with timestamp &gt;&#x3D; start_date (ISO 8601 or Unix epoch seconds)
func (r ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest) StartDate(startDate time.Time) ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest {
	r.startDate = &startDate
	return r
}

// Return rows with timestamp &lt; end_date (ISO 8601 or Unix epoch seconds)
func (r ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest) EndDate(endDate time.Time) ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest {
	r.endDate = &endDate
	return r
}

// Filter to one or more users; repeatable (user_id&#x3D;a&amp;user_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest) UserId(userId []string) ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest {
	r.userId = &userId
	return r
}

// Filter to one or more API key ids; repeatable (api_key_id&#x3D;a&amp;api_key_id&#x3D;b). Several values match any of them. At most 50 per call.
func (r ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest) ApiKeyId(apiKeyId []string) ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest {
	r.apiKeyId = &apiKeyId
	return r
}

// Filter to a single event type or metric name (e.g. &#39;tool_result&#39;, &#39;claude_code.commit.count&#39;)
func (r ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest) Name(name string) ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest {
	r.name = &name
	return r
}

func (r ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest) Execute() (*AgentTelemetryCount, *http.Response, error) {
	return r.ApiService.CountAgentTelemetryV1AgentTelemetryCountGetExecute(r)
}

/*
CountAgentTelemetryV1AgentTelemetryCountGet Count Agent Telemetry

Total agent_telemetry rows matching the given filters (standalone).

The filter set mirrors the purge endpoint's, so this sizes exactly what a
"delete all N matching" would remove. Behavioral and metric rows are counted
together: neither this nor the purge distinguishes them. Master-key only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest
*/
func (a *AgentTelemetryAPIService) CountAgentTelemetryV1AgentTelemetryCountGet(ctx context.Context) ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest {
	return ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgentTelemetryCount
func (a *AgentTelemetryAPIService) CountAgentTelemetryV1AgentTelemetryCountGetExecute(r ApiCountAgentTelemetryV1AgentTelemetryCountGetRequest) (*AgentTelemetryCount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentTelemetryCount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentTelemetryAPIService.CountAgentTelemetryV1AgentTelemetryCountGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agent-telemetry/count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "form", "")
	}
	if r.userId != nil {
		t := *r.userId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "user_id", t, "form", "multi")
		}
	}
	if r.apiKeyId != nil {
		t := *r.apiKeyId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "api_key_id", t, "form", "multi")
		}
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteAgentTelemetryRowsV1AgentTelemetryDeleteRequest struct {
	ctx                         context.Context
	ApiService                  *AgentTelemetryAPIService
	agentTelemetryDeleteRequest *AgentTelemetryDeleteRequest
}

func (r ApiDeleteAgentTelemetryRowsV1AgentTelemetryDeleteRequest) AgentTelemetryDeleteRequest(agentTelemetryDeleteRequest AgentTelemetryDeleteRequest) ApiDeleteAgentTelemetryRowsV1AgentTelemetryDeleteRequest {
	r.agentTelemetryDeleteRequest = &agentTelemetryDeleteRequest
	return r
}

func (r ApiDeleteAgentTelemetryRowsV1AgentTelemetryDeleteRequest) Execute() (*AgentTelemetryDeleteResult, *http.Response, error) {
	return r.ApiService.DeleteAgentTelemetryRowsV1AgentTelemetryDeleteExecute(r)
}

/*
DeleteAgentTelemetryRowsV1AgentTelemetryDelete Delete Agent Telemetry Rows

Delete agent_telemetry rows by explicit ids or by filter (standalone).

Target either an explicit selection (`ids`) or everything matching a filter
(`by_filter: true` plus optional `user_id` / `api_key_id` / `name` / date
range). A selection matching zero rows succeeds with `deleted: 0`.
Master-key only.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiDeleteAgentTelemetryRowsV1AgentTelemetryDeleteRequest
*/
func (a *AgentTelemetryAPIService) DeleteAgentTelemetryRowsV1AgentTelemetryDelete(ctx context.Context) ApiDeleteAgentTelemetryRowsV1AgentTelemetryDeleteRequest {
	return ApiDeleteAgentTelemetryRowsV1AgentTelemetryDeleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgentTelemetryDeleteResult
func (a *AgentTelemetryAPIService) DeleteAgentTelemetryRowsV1AgentTelemetryDeleteExecute(r ApiDeleteAgentTelemetryRowsV1AgentTelemetryDeleteRequest) (*AgentTelemetryDeleteResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentTelemetryDeleteResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentTelemetryAPIService.DeleteAgentTelemetryRowsV1AgentTelemetryDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agent-telemetry"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.agentTelemetryDeleteRequest == nil {
		return localVarReturnValue, nil, reportError("agentTelemetryDeleteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.agentTelemetryDeleteRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["XApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Otari-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
